import { Link } from 'react-router-dom';
import { Fragment, useCallback, useEffect, useState } from 'react';
import { useTranslation } from 'react-i18next';
import { ChevronDown, ChevronUp, ChevronsUpDown, Plus } from 'lucide-react';
import { useApi } from '../../hooks/useApi';
import { ApiResponsePage, SortConfig } from '../../types/api-response.types';
import { ApiResponsePagination } from '../../components/ApiResponsePagination';
<% if(durationColumns.length) {-%>
import { DurationFieldViewer } from '../../components/formElements/DurationField';
<% } -%>
import { TableSkeletonLoader } from '../../components/TableSkeletonLoader';
<% if (searchEngine !== 'null' ) { -%>
import { SearchInput } from '../../components/SearchInput';
<% } -%>
import { I<%= entity.name %> } from '../../shared/model/<%= to.slug(entity.name)%>.model';
import { useNotifications } from '../../contexts/NotificationContext';
import useAutoShortcuts from '../../hooks/useAutoShortcuts';
import { detect } from 'detect-browser';
const isMac = detect()?.os?.toLowerCase().includes('mac');

type SortableField = 'id'<%for(column of columns) { %><% if (!fileColumns.includes(column)) { %> | '<%=column%>'<% } %><% } %>;

export default function <%= entity.name %>List() {
  const { t, i18n } = useTranslation();
  const { addNotification } = useNotifications();
  const { fetch } = useApi();
  const [loading, setLoading] = useState(false);
<% if (searchEngine !== 'null' ) { -%>
  const [searchTerm, setSearchTerm] = useState('');
  const [debouncedSearchTerm, setDebouncedSearchTerm] = useState('');
<% } -%>
  const [sortConfig, setSortConfig] = useState<SortConfig<SortableField>>({
    field: 'id',
    direction: 'asc',
  });
  const [currentPage, setCurrentPage] = useState(1);
  const [page, setPage] = useState<ApiResponsePage<I<%= entity.name %>> | null>(null);
  useAutoShortcuts();
  const sortableColumns: SortableField[] = [
    'id',
<%for(column of columns) { -%>
<%  if (!fileColumns.includes(column)) { -%>
    '<%=column%>',
<%  }-%>
<%}-%>
  ];

  const loadRecords = useCallback(() => {
    setLoading(true);
    fetch(`/api/<%=to.slug(pluralize(entity.name))%>?page=${currentPage}&sort_by=${sortConfig.field}&sort_direction=${sortConfig.direction}<% if (searchEngine !== 'null' ) { -%>${debouncedSearchTerm ? '&search=' + encodeURIComponent(debouncedSearchTerm) : ''}<% } -%>`)
      .then((response) => response.json())
      .then((page: ApiResponsePage<I<%= entity.name %>>) => {
        setPage(page);
        setLoading(false);
      })
      .catch((error) => {
        console.error('ERR:', error);
        setLoading(false);
        addNotification({
          type: 'error',
          message: error.message,
          duration: 5000,
        });
      });
  }, [fetch, addNotification, sortConfig, currentPage<% if (searchEngine !== 'null' ) { -%>, debouncedSearchTerm<% } -%>]);

  const handleSort = (field: SortableField) => {
    setSortConfig((currentConfig) => ({
      field,
      direction:
        currentConfig.field === field && currentConfig.direction === 'asc' ? 'desc' : 'asc',
    }));
    setCurrentPage(1);
  };
<% if (searchEngine !== 'null' ) { -%>

  useEffect(() => {
    const timeoutId = setTimeout(() => {
      setDebouncedSearchTerm(searchTerm);
      setCurrentPage(1);
    }, 300);
    return () => clearTimeout(timeoutId);
  }, [searchTerm]);
<% } -%>

  const renderSortHeader = (field: SortableField, label: string) => {
<%  if (searchEngine === 'algolia') {-%>
    if (debouncedSearchTerm) return <th scope="col">{label}</th>; // Algolia does its own sorting
<% } -%>
    const isSorted = sortConfig.field === field;
    return (
      <th
        scope="col"
        className={`${sortableColumns.includes(field) ? 'cursor-pointer select-none' : ''} ${field === 'id' ? 'w-0' : ''}`}
        onClick={() => sortableColumns.includes(field) && handleSort(field)}
      >
        <div className="flex items-center gap-1">
          <div>{label}</div>
          {isSorted &&
            (sortConfig.direction === 'asc' ?
              <ChevronDown className="shrink-0 pointer-events-none size-5 text-slate-600 dark:text-slate-400 sm:size-4" />
            :
              <ChevronUp className="shrink-0 pointer-events-none size-5 text-slate-600 dark:text-slate-400 sm:size-4" />
            )}
          {!isSorted && <ChevronsUpDown className="shrink-0 pointer-events-none size-5 text-slate-600 dark:text-slate-400 sm:size-4" />}
        </div>
      </th>
    );
  };

  useEffect(() => loadRecords(), [loadRecords]);

  useEffect(() => {
    document.title = t('entities.<%-to.snake(entity.name)%>.<%- pluralize(entity.name)%>');
  }, [i18n.language, t]);

  return (
    <>
      <h1 className="text-2xl mb-4">{t('entities.<%-to.snake(entity.name)%>.<%- pluralize(entity.name)%>')}</h1>
      <div className={`flex gap-4 mb-4`}>
<% if (searchEngine !== 'null' ) { -%>
        <SearchInput onChange={(value) => setSearchTerm(value)} onClear={() => setSearchTerm('')} />
<% } -%>
        <Link
          to="/entities/<%=to.slug(pluralize(entity.name))%>/new"
          className="primary-button whitespace-nowrap"
          data-shortcut="ctrl+enter"
        >
          <Plus size={16} />
          {t('actions.crud.create')} {t('entities.<%-to.snake(entity.name)%>.<%- entity.name%>')}
          <kbd className="kdb-shortcut">{isMac ? '⌘' : 'Ctrl'}</kbd>
          <kbd className="kdb-shortcut">↵</kbd>
        </Link>
      </div>
      <Fragment>
        <TableSkeletonLoader loading={loading} rows={10} cols={<%=columns.length - fileColumns.length + relatedEntities.length%>} />
      </Fragment>
      {!loading && page?.data && page?.data.length === 0 && (
        <p className="mb-4 text-2xl">{t('messages.noData')}</p>
      )}
      {!loading && page?.data && page?.data.length > 0 && (
        <>
          <div className="relative overflow-x-auto mb-4">
            <table className="data-table">
              <thead>
                <tr>
                  {renderSortHeader('id', t('entities.<%-to.snake(entity.name)%>.id'))}
<%                for(column of columns) { -%>
<%                  if (!fileColumns.includes(column)) { -%>
                  {renderSortHeader('<%-column%>', t('entities.<%-to.snake(entity.name)%>.<%-column%>'))}
<%                  } else {-%>
                  <th scope="col">{t('entities.<%-to.snake(entity.name)%>.<%-column%>')}</th>
<%                  } -%>
<%                } -%>
<%                for(r of relatedEntities) { -%>
                  <th scope="col">{t('entities.<%-to.snake(entity.name)%>.<%-r.field%>')}</th>
<%                } -%>
                  <th scope="col">{t('actions.crud.actions')}</th>
                </tr>
              </thead>
              <tbody>
                {page?.data.map((row, key) => (
                  <tr key={key}>
                    <td className="w-0">
                      <Link className="text-link" to={`/entities/<%=to.slug(pluralize(entity.name))%>/view/${row.id}`}>
                        {row.id}
                      </Link>
                    </td>
<%                  for(column of columns) { -%>
<%                    if (!fileColumns.includes(column)) { -%>
                    <td>
<%                      if (!durationColumns.includes(column)) { -%>
                      {row.<%- column %>?.toString()}
<%                      } else {-%>
                      <DurationFieldViewer duration={row.<%- column %>} format="iso"/>
<%                      }-%>
                    </td>
<%                    } else { -%>
                    <td>
                      <a
                        href={`/api/<%=to.slug(pluralize(entity.name))%>/${row.id}/<%- column %>/${row.<%- column %>_name}`}
                        className="text-link"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        {row.<%- column %>_name?.toString()}
                      </a>
                    </td>
<%                    } -%>
<%                  } -%>
<%                  for(r of relatedEntities) { -%>
                    <td>
<%                  if(r.isArray) { -%>
                      {row?.<%-r.field%>?.map((row, index) => (<Fragment key={index}>{index !== 0 ? ', ': ''}<Link className="text-link" to={`/entities/<%=to.slug(pluralize(r.related))%>/view/${row?.id}`}>{row?.<%-to.snake(r.labelField)%>}</Link></Fragment>))}
<%                    } else { -%>
                      {row?.<%-r.field%>?.id && <Link className="text-link" to={`/entities/<%=to.slug(pluralize(r.related))%>/view/${row?.<%-r.field%>?.id}`}>{row?.<%-r.field%>?.<%-to.snake(r.labelField)%>}</Link>}
<%                    } -%>
                    </td>
<%                  } -%>
                    <td className="text-nowrap w-0 uppercase">
                      <div className="flex space-x-2">
                        <Link to={`/entities/<%=to.slug(pluralize(entity.name))%>/view/${row.id}`} className="text-link">{t('actions.crud.view')}</Link>
                        <Link to={`/entities/<%=to.slug(pluralize(entity.name))%>/edit/${row.id}`} className="text-link">{t('actions.crud.edit')}</Link>
                      </div>
                    </td>
                  </tr>
                ))}
              </tbody>
            </table>
          </div>
          <ApiResponsePagination pageLinks={page.links || []} onSelectPage={setCurrentPage} />
        </>
      )}
    </>
  );
}
