<%
const enumsToImport = [];
for({type} of entity.body) {
  if ((enums.filter(enm => enm.name === type)).length === 1) {
    enumsToImport.push(type);
  }
}
const hasUUID = entity?.body.reduce((res, {type}) => res || type === 'UUID', false);;
const hasBlob = entity?.body.reduce((res, {type}) => res || type === 'Blob' || type === 'AnyBlob' || type === 'ImageBlob', false);
const hasRequiredBlob = entity?.body
  .filter(({ type }) => type === 'Blob' || type === 'AnyBlob' || type === 'ImageBlob')
  .map(({ validations }) => validations)
  .reduce(
    (required, validation) =>
      required ||
      validation.reduce(
        (required, validation) => required || validation.key === 'required',
        false
      ),
    false
  );
const blobFields = entity?.body.filter(({type}) => (type === 'Blob' || type === 'AnyBlob' || type === 'ImageBlob')).map(({name}) => name);
const hasCheckbox = entity?.body.filter(({type}) => type === 'Boolean').length > 0;
const hasSelect = (enumsToImport.length + relatedEntities.length + foreignIds.length) > 0;
const hasSelectNotMultiple = (enumsToImport.length + relatedEntities.filter(({isArray}) => !isArray).length + foreignIds.length) > 0;
const hasRelated = (relatedEntities.length + foreignIds.length) > 0;
const isOptional = (validations) => !validations.reduce((required, validation) => required || validation.key === 'required', false);
const getMin = (validations) => validations.reduce((min, validation) => validation.key === 'min' ? validation.value : min, undefined);
const getMax = (validations) => validations.reduce((max, validation) => validation.key === 'max' ? validation.value : max, undefined);
const getMinlength = (validations) => validations.reduce((minlength, validation) => validation.key === 'minlength' ? validation.value : minlength, undefined);
const getMaxlength = (validations) => validations.reduce((maxlength, validation) => validation.key === 'maxlength' ? validation.value : maxlength, undefined);
const getMinbytes = (validations) => validations.reduce((minbytes, validation) => validation.key === 'minbytes' ? validation.value : minbytes, undefined);
const getMaxbytes = (validations) => validations.reduce((maxbytes, validation) => validation.key === 'maxbytes' ? validation.value : maxbytes, undefined);
const getPattern = (validations) => validations.reduce((pattern, validation) => validation.key === 'pattern' ? validation.value : pattern, undefined);
const isEmail = (name) => name.toLowerCase().includes('email');
const fieldTypeToSchema = (type) => {
    const typeMap = {
        'String': 'string',
        'Integer': 'integer',
        'Long': 'integer',
        'BigDecimal': 'number',
        'Float': 'number',
        'Double': 'number',
        'Boolean': 'boolean',
        'LocalDate': 'date',
        'ZonedDateTime': 'datetime',
        'Instant': 'datetime',
        'Duration': 'number',
        'LocalTime': 'time',
        'UUID': 'uuid',
        'TextBlob': 'string',
        'Blob': 'blob',
        'AnyBlob': 'blob',
        'ImageBlob': 'image',
    };
    return typeMap[type] || 'string';
}
const fieldTypeToInputType = (type) => {
    const typeMap = {
        'String': 'text',
        'Integer': 'number',
        'Long': 'number',
        'BigDecimal': 'number',
        'Float': 'number',
        'Double': 'number',
        'Boolean': 'checkbox',
        'LocalDate': 'date',
        'ZonedDateTime': 'datetime-local',
        'Instant': 'datetime-local',
        'LocalTime': 'time',
        'Duration': 'number',
        'TextBlob': 'textarea',
        'Blob': 'file',
        'AnyBlob': 'file',
        'ImageBlob': 'file'
    };
    return typeMap[type] || 'text';
}
const fieldTypeToInputStep = (type) => {
    const stepMap = {
        'BigDecimal': `'any'`,
        'Float': `'any'`,
        'Double': `'any'`,
        'Integer': 1,
        'ZonedDateTime': 1,
        'LocalTime': 1,
        'Instant': 1
    };
    return stepMap[type] || null;
}

getValidationsFromValidations = (validations) => {
  v = {};
  if (!isOptional(validations)) v = {...v, required: true};
  if (getMin(validations)) v = {...v, min: Number(getMin(validations))};
  if (getMax(validations)) v = {...v, max: Number(getMax(validations))};
  if (getMinlength(validations)) v = {...v, minlength: Number(getMinlength(validations))};
  if (getMaxlength(validations)) v = {...v, maxlength: Number(getMaxlength(validations))};
  if (getMinbytes(validations)) v = {...v, minbytes: Number(getMinbytes(validations))};
  if (getMaxbytes(validations)) v = {...v, maxbytes: Number(getMaxbytes(validations))};
  if (getPattern(validations)) v = {...v, pattern: getPattern(validations)};
  return JSON.stringify(v) !== '{}' ? JSON.stringify(v) : null;
}

const getField = (type, name, validations) => {
    if ((enums.filter(enm => enm.name === type)).length === 1) {
-%>
          <div className={selectContainerClassName}>
            <select
              id="<%= to.snake(name) %>"
              {...register('<%= to.snake(name) %>', {
<%    if (!isOptional(validations)) { -%>
                required: t('errors.validations.required'),
<%    } -%>
              })}
              className={selectClassName(!!errors?.<%= to.snake(name) %>?.message)}
            >
              <option className={selectOptionClassName} value={''}></option>
              {Object.values(<%= type %>).map((<%= to.snake(name) %>) => (
                <option className={selectOptionClassName} key={<%= to.snake(name) %>} value={<%= to.snake(name) %>}>
                  {<%= to.snake(name) %>}
                </option>
              ))}
            </select>
            <ChevronsUpDown aria-hidden="true" className={selectChevronClassName} />
          </div>
<%    } else {
    const T = fieldTypeToInputType(type);
    const STEP = fieldTypeToInputStep(type);
-%>
<%      if (T !== 'textarea') {-%>
<%        if (type === 'UUID') {-%>
          <div className="grid grid-cols-1">
<%        }-%>
          <input
            type="<%- T %>"
<%        if (!!STEP) {-%>
            step={<%- STEP %>}
<%        }-%>
            id="<%= to.snake(name) %>"
            {...register('<%= to.snake(name) %>', {
<%        if (!isOptional(validations)) { -%>
              required: t('errors.validations.required'),
<%        } -%>
<%        if (getMin(validations) !== undefined) { -%>
                min: {
                  value: <%-getMin(validations)%>,
                  message: t('errors.validations.min', { min: <%-getMin(validations)%> }),
                },
<%        } -%>
<%        if (getMax(validations) !== undefined) { -%>
                max: {
                  value: <%-getMax(validations)%>,
                  message: t('errors.validations.max', { max: <%-getMax(validations)%> }),
                },
<%        } -%>
<%        if (getMinlength(validations) !== undefined) { -%>
                minLength: {
                  value: <%-getMinlength(validations)%>,
                  message: t('errors.validations.minlength', { min: <%-getMinlength(validations)%> }),
                },
<%        } -%>
<%        if (getMaxlength(validations) !== undefined) { -%>
                maxLength: {
                  value: <%-getMaxlength(validations)%>,
                  message: t('errors.validations.maxlength', { max: <%-getMaxlength(validations)%> }),
                },
<%        } -%>
<%        if (getPattern(validations) !== undefined) { -%>
                pattern: {
                  value: /<%-getPattern(validations)%>/,
                  message: t('errors.validations.pattern'),
                },
<%        } -%>
<%        if (type === 'UUID' && getPattern(validations) === undefined) {-%>
                pattern: {
                  value: /^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i,
                  message: t('errors.validations.pattern'),
                },
<%        }-%>
<%        if (isEmail(name) && getPattern(validations) === undefined) {-%>
                pattern: {
                  value: /^[^\s@]+@[^\s@]+\.[^\s@]+$/,
                  message: t('errors.validations.pattern'),
                },
<%        }-%>
<%        if(T === 'number') {-%>
              valueAsNumber: true,
<%        }-%>
            })}
            className={<%- (T === 'checkbox') ? 'checkBoxClassName' : 'inputClassName' %>(!!errors?.<%= to.snake(name) %>?.message)<% if (type === 'UUID') {%> + ' col-start-1 row-start-1'<%}%>}
          />
<%        if (type === 'UUID') {-%>
            <button
              type="button"
              onClick={() => {
                setValue('<%= to.snake(name) %>', uuidv4());
                trigger('<%= to.snake(name) %>');  // Re-validate the field
              }}
              className="cursor-pointer col-start-1 row-start-1 mt-3 mr-4 self-center justify-self-end text-gray-500 size-5 sm:size-4"
              title={t('actions.generateUUID')}
            >
              <RefreshCw className="h-full" />
            </button>
          </div>
<%        }-%>
<%      } else {-%>
          <textarea
            rows={10}
            id="<%= to.snake(name) %>"
            {...register('<%= to.snake(name) %>'<% if(T === 'number') {%>, { valueAsNumber: true }<%}%>)}
            className={<%- (T === 'checkbox') ? 'checkBoxClassName' : 'inputClassName' %>(!!errors?.<%= to.snake(name) %>?.message)}
          />
<%      }-%>
<%    }-%>
<%}-%>
import { useEffect, useState } from 'react';
import { useForm } from 'react-hook-form';
import { useTranslation } from 'react-i18next';
<% if (hasUUID) {-%>
import { v4 as uuidv4 } from 'uuid';
<% }-%>
import { I<%= entity.name %> } from '../../shared/model/<%= to.slug(entity.name)%>.model';
<%for(related of [...new Set(relatedEntities.map(({related}) => related)), ...new Set(foreignIds.map(({related}) => related))]) {-%>
<%  if (related !== entity.name) {-%>
import { I<%= related %> } from '../../shared/model/<%= to.slug(related)%>.model';
<%  }-%>
<%}-%>
import { useApi } from '../../hooks/useApi';
<% if (hasRelated) {-%>
import { HttpError } from '../../hooks/useApi';
<% }-%>
import { useNotifications } from '../../contexts/NotificationContext';
import useAutoShortcuts from '../../hooks/useAutoShortcuts';
<% if (hasSelectNotMultiple) {-%>
import { ChevronsUpDown } from 'lucide-react';
<% } -%>
<% if (hasUUID) {-%>
import { RefreshCw } from 'lucide-react';
<% } -%>
<%- [...new Set(enumsToImport)].map(enm => `import { ${enm} } from '../../shared/model/enumerations/${to.slug(enm)}.model';`).join("\n") -%>
import { FormLabel } from '../../components/FormLabel';
<% if (hasBlob) {%>
import { InputFile } from '../../components/InputFile';
<% } -%>

type ObjData = {
  [key: string]: unknown | ObjData;
};

type <%= entity.name %>FormData = {
  [key: string]: unknown;
};

interface <%= entity.name %>FormProps {
  <%= to.camel(entity.name)%>?: I<%= entity.name %>;
  onSubmit: (data: <%= entity.name %>FormData) => void | Promise<void>;
  onCancel: () => void;
}
<% if (hasRelated) {-%>

interface SelectOption {
  id: number;
  label: string;
}
<% } -%>

export function <%= entity.name %>Form({ <%= to.camel(entity.name)%>, onSubmit, onCancel }: <%= entity.name%>FormProps) {
  const { i18n, t } = useTranslation();
  const { addNotification } = useNotifications();
  useAutoShortcuts();
  const { fetch } = useApi();
<% for({field} of relatedEntities) {-%>
  const [<%= to.camel((field)) %>DataOptions, <%= to.camel(`set_${(field)}_data_options`) %>] = useState<SelectOption[]>([]);
<% }-%>
<% for({foreignId} of foreignIds) {-%>
  const [<%= to.camel((foreignId)) %>DataOptions, <%= to.camel(`set_${(foreignId)}_data_options`) %>] = useState<SelectOption[]>([]);
<% }-%>
  const [loadingOptions, setLoadingOptions] = useState(true);

  const {
    register,
    handleSubmit,
    formState: { errors, isSubmitting },
    reset,
<%  if (hasBlob || hasUUID) {-%>
    setValue,
<%  }-%>
    trigger
  } = useForm<<%= entity.name %>FormData>();

  const handleFormSubmit = async (data: <%= entity.name %>FormData) => {
    try {
      await onSubmit(data);
    } catch (error) {
      console.error('Form submission error:', error);
    }
  };

  useEffect(() => {
    const fetchOptions = async () => {
      setLoadingOptions(true);
<%  for({field, related, labelField, cardinality} of relatedEntities) {
  let filter = '';
  if (cardinality === "OneToOne") {
    filter += `?available_for_${to.snake(entity.name)}=\${${to.camel(entity.name)}?.id ?? ''}`;
  }
-%>
      try {
        const <%= to.camel(field) %>Response = await fetch(`/api/<%=to.slug(pluralize(related))%><%-filter%>`);
        const <%= to.camel(field) %>Data = await <%= to.camel(field) %>Response.json();
        <%= to.camel(`set_${field}_data_options`) %>((<%= to.camel(field) %>Data.map((item: I<%-related%>) => ({
          id: item.id,
<%        if (labelField === 'id') {-%>
          label: `${item.id}`
<%        } else {-%>
          label: `${item.<%-to.snake(labelField)%> || ''} (ID: ${item.id})`
<%        }-%>
        }))).sort((a: SelectOption, b: SelectOption) => a.label.localeCompare(b.label, undefined, { numeric: true })));
      } catch (error: unknown) {
        console.error('Error fetching options:', error);
        addNotification({
          type: 'error',
          message: `${t('errors.options.load')} ${t('entities.<%-to.snake(entity.name)%>.<%-to.snake(field)%>')}`,
          details: error instanceof Error ? error.message : undefined,
          techDetails: error instanceof HttpError ? error.details : undefined,
          duration: 10000,
        });
      }
<%  }-%>
<%  for({foreignId, related, labelField} of foreignIds) {-%>
      try {
        const <%= to.camel(foreignId) %>Response = await fetch('/api/<%=to.slug(pluralize(related))%>');
        const <%= to.camel(foreignId) %>Data = await <%= to.camel(foreignId) %>Response.json();
        <%= to.camel(`set_${foreignId}_data_options`) %>((<%= to.camel(foreignId) %>Data.map((item: I<%-related%>) => ({
          id: item.id,
<%        if (labelField === 'id') {%>
          label: `${item.id}`
<%        } else {-%>
          label: `${item.<%-to.snake(labelField)%> || ''} (ID: ${item.id})`
<%        }-%>
        }))).sort((a: SelectOption, b: SelectOption) => a.label.localeCompare(b.label, undefined, { numeric: true })));
      } catch (error: unknown) {
        console.error('Error fetching options:', error);
        addNotification({
          type: 'error',
          message: `${t('errors.options.load')} ${t('entities.<%-to.snake(entity.name)%>.<%-to.snake(foreignId)%>')}`,
          details: error instanceof Error ? error.message : undefined,
          techDetails: error instanceof HttpError ? error.details : undefined,
          duration: 10000,
        });
      }
<%  }-%>
      setLoadingOptions(false);
    };

    fetchOptions();
  }, [fetch, addNotification, t]);

  useEffect(() => {
    if (<%= to.camel(entity.name)-%>) {
      reset({
<% for({name, type, validations} of entity.body) {-%>
<%  if (type !== 'Blob' && type !== 'AnyBlob' && type !== 'ImageBlob') {-%>
        <%= to.snake(name) %>: <%= to.camel(entity.name)%>?.<%= to.snake(name) %><%= isOptional(validations) ? ' ?? undefined' : '' %>,
<%  } -%>
<% } -%>
<% for({field, related, isArray} of relatedEntities) {-%>
<%  if (isArray) {-%>
        <%= to.snake(field) %>: <%= to.camel(entity.name)%>?.<%= to.snake(field) %>?.map(item => String(item.id)),
<%  } else {-%>
        <%= to.snake(field) %>_id: String(<%= to.camel(entity.name)%>?.<%= to.snake(field) %>_id || ''),
<%  }-%>
<% }-%>
<% for({foreignId, related} of foreignIds) {-%>
        <%= to.snake(foreignId) %>: String(<%= to.camel(entity.name)%>?.<%= to.snake(foreignId) %> || ''),
<% }-%>
      });
    }
  }, [<%= to.camel(entity.name)%>, reset, loadingOptions]);

  useEffect(() => {
    Object.keys(errors).forEach((fieldName) => {
      trigger(fieldName as string);
    });
  }, [i18n.language]);

  const inputClassName = (hasErrors = false) =>
    `scheme-light dark:scheme-dark outline-0${hasErrors ? ' outline-2 -outline-offset-2 outline-red-500' : ''} focus:outline-2 focus:-outline-offset-2 ${hasErrors ? 'focus:outline-red-500' : 'focus:outline-blue-600'} rounded-md block w-full mt-3 border-none bg-slate-200 text-slate-900 dark:bg-gray-800 dark:text-gray-300 text-sm/6 py-1.5 px-3`;
<%  if (hasCheckbox) {-%>
  const checkBoxClassName = (hasErrors = false) =>
    `scheme-light dark:scheme-dark outline-0${hasErrors ? ' outline-2 outline-offset-2 outline-red-500' : ''} focus:outline-2 focus:outline-offset-2 ${hasErrors ? 'focus:outline-red-500' : 'focus:outline-blue-600'} rounded-md block w-5 h-5 mx-auto mt-3 border-none bg-slate-200 text-slate-900 dark:bg-gray-800 dark:text-gray-300 text-sm/6 py-3 px-3`;
<%  } -%>
<%  if (hasSelect) {-%>
  const selectContainerClassName = 'grid grid-cols-1';
  const selectClassName = (hasErrors = false) =>
    `scheme-light dark:scheme-dark outline-0${hasErrors ? ' outline-2 -outline-offset-2 outline-red-500' : ''} focus:outline-2 focus:-outline-offset-2 ${hasErrors ? 'focus:outline-red-500' : 'focus:outline-blue-600'} rounded-md block w-full mt-3 border-none bg-slate-200 text-slate-900 dark:bg-gray-800 dark:text-gray-300 text-sm/6 py-1.5 p-2 text-base appearance-none col-start-1 row-start-1`;
  const selectOptionClassName = `scheme-light dark:scheme-dark outline-0 hover:outline-2 hover:-outline-offset-2 hover:outline-blue-600 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 rounded-md mt-1 border-none bg-slate-200 text-slate-900 dark:bg-gray-800 dark:text-gray-300 text-sm/6 py-1.5 px-3 text-base appearance-none checked:bg-slate-300 checked:text-black dark:checked:bg-gray-700 dark:checked:text-white`;
<%  } -%>
<%  if (hasSelectNotMultiple) {-%>
  const selectChevronClassName =
    'pointer-events-none col-start-1 row-start-1 mt-3 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4';
<%  } -%>
  return (
    <form onSubmit={handleSubmit(handleFormSubmit)} noValidate>
      <div className="max-w-5xl mx-auto space-y-4">
<%    for({name, type, validations} of entity.body) {-%>
<%      if(type === 'Blob' || type === 'AnyBlob' || type === 'ImageBlob') {-%>
        <FormLabel
          htmlFor="<%= to.snake(name) %>"
          label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(name)%>')}
<%        if(getValidationsFromValidations(validations)) {-%>
          validations={<%- getValidationsFromValidations(validations) %>}
<%        } -%>
        />  
        <InputFile
<%      if(type === 'ImageBlob') { -%>
          accept="image/*"
<%      } -%>
          entity={<%= to.camel(entity.name)%> as ObjData}
          errors={errors}
          fieldName="<%-to.snake(name)%>"
          register={register}
          trigger={trigger}
          setValue={setValue}
<%      if(getValidationsFromValidations(validations)) {-%>
          validations={<%- getValidationsFromValidations(validations) %>}
<%      } -%>
        />
<%      } else {-%>
        <div>
          <FormLabel
            htmlFor="<%= to.snake(name) %>"
            label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(name)%>')}
<%          if(getValidationsFromValidations(validations)) {-%>
            validations={<%- getValidationsFromValidations(validations) %>}
<%          } -%>
          />        
<%= getField(type, name, validations) -%>
          {errors?.<%= to.snake(name) %>?.message && (
            <p className="mt-1 text-sm text-red-600">{errors.<%= to.snake(name) %>.message}</p>
          )}
        </div>
<%      }-%>
<%    }-%>
<%    for({field, related, isArray, nullable} of relatedEntities) {-%>
        <div>
          <FormLabel
            htmlFor="<%= to.snake(field) %>"
            label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(field)%>')}
<%          if(!nullable) {-%>
            validations={{ required: true }}
<%          }-%>
          />
          <div className={selectContainerClassName}>
            <select
<%            if (isArray) {-%>
              multiple
              size={Math.min(10, Math.max(5, <%= to.camel(field) %>DataOptions.length)) + 1}
<%            }-%>
              id="<%= to.snake(field) %>"
              {...register('<%= to.snake(field) %><%if (!isArray) {%>_id<%}%>',{
<%            if(!nullable) {-%>
                required: t('errors.validations.required'),
<%            } -%>
              })}
              className={selectClassName(!!errors?.<%= to.snake(field) %><%if (!isArray) {%>_id<%}%>?.message)}>
<%            if (!isArray) {-%>
              {!loadingOptions && <%= to.camel(field) %>DataOptions.length > 0 && <option className={selectOptionClassName} value={''}></option>}
<%            }-%>
              {loadingOptions ? (
                <option className={selectOptionClassName} disabled>{t('common.select.loading')}</option>
              ) : (
                <%= to.camel(field) %>DataOptions.length === 0
                ? <option className={selectOptionClassName} disabled>{t('common.select.noOptions')}</option>
                : <%= to.camel(field) %>DataOptions.map(op => <option className={selectOptionClassName} key={op.id} value={op.id}>{op.label}</option>)
              )}
            </select>
<%            if (!isArray) {-%>
            <ChevronsUpDown aria-hidden="true" className={selectChevronClassName} />
<%            }-%>
          </div>
          {errors?.<%= to.snake(field) %><%if (!isArray) {%>_id<%}%>?.message && (
            <p className="mt-1 text-sm text-red-600">{errors.<%= to.snake(field) %><%if (!isArray) {%>_id<%}%>.message}</p>
          )}
        </div>
<%    }-%>
<%    for({foreignId, related, isArray, nullable} of foreignIds) {-%>
        <div>
          <FormLabel
            htmlFor="<%= to.snake(foreignId) %>"
            label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(foreignId)%>')}
<%          if(!nullable) {-%>
            validations={{ required: true }}
<%          }-%>
          />
          <div className={selectContainerClassName}>
            <select
              id="<%= to.snake(foreignId) %>"
              {...register('<%= to.snake(foreignId) %>',{
<%            if(!nullable) {-%>
                required: t('errors.validations.required'),
<%            } -%>
              })}
              className={selectClassName(!!errors?.<%= to.snake(foreignId) %>?.message)}>
              {!loadingOptions && <%= to.camel(foreignId) %>DataOptions.length > 0 && <option className={selectOptionClassName} value={''}></option>}
              {loadingOptions ? (
                <option className={selectOptionClassName} disabled>{t('common.select.loading')}</option>
              ) : (
                <%= to.camel(foreignId) %>DataOptions.length === 0
                ? <option className={selectOptionClassName} disabled>{t('common.select.noOptions')}</option>
                : <%= to.camel(foreignId) %>DataOptions.map(op => <option className={selectOptionClassName} key={op.id} value={op.id}>{op.label}</option>)
              )}
            </select>
<%            if (!isArray) {-%>
            <ChevronsUpDown aria-hidden="true" className={selectChevronClassName} />
<%            }-%>
          </div>
          {errors?.<%= to.snake(foreignId) %>?.message && (
            <p className="mt-1 text-sm text-red-600">{errors.<%= to.snake(foreignId) %>.message}</p>
          )}
        </div>
<%    }-%>
      </div>
      <div className="flex justify-center gap-4 my-8">
        <button type="button" onClick={onCancel} className="cancel-button">
          {t('actions.crud.cancel')}
        </button>
        <button
          data-shortcut="ctrl+enter"
          type="submit"
          disabled={isSubmitting}
          className="primary-button"
        >
          {t(isSubmitting ? 'actions.crud.saving' : 'actions.crud.save')}
        </button>
      </div>
    </form>
  );
}
