import { Link } from 'react-router-dom';
import { useParams } from 'react-router-dom';
import { useState, useEffect } from 'react';
import { useTranslation } from 'react-i18next';
import { useAuthenticatedFetch } from '../../hooks/useAuthenticatedFetch';
import { JsonPrint } from '../../components/JsonPrint';
import { SimpleLoader } from '../../components/SimpleLoader';
import { I<%= entity.name %> } from '../../shared/model/<%= to.slug(entity.name)%>.model';
<%relatedEntities
    .map(r => r.related)
    .filter(r => r !== entity.name)
    .reduce((acc, current) => acc.includes(current) ? acc : [...acc, current], [])
    .forEach(e => {%>import { <%=e%>DataView } from './<%= e %>View';
<%});-%>

interface <%= entity.name %>DataViewParams {
  data: I<%= entity.name %> | undefined | null;
}

interface <%= entity.name %>ViewParams {
  id: string;
}

export function <%= entity.name %>DataView({data}: <%= entity.name %>DataViewParams) {
  const { t } = useTranslation();
  if(!data) return '';
  return (
    <table className="details-table">
      <tbody>
        <tr>
          <th scope="row">{t('entities.<%-to.snake(entity.name)%>.id')}</th>
          <td>{data?.id}</td>
        </tr>
        <% for(column of columns) {%>
        <tr>
          <th scope="row">{t('entities.<%-to.snake(entity.name)%>.<%-column%>')}</th>
          <td>{data?.<%= column%>}</td>
        </tr>
        <%}%>
        <% for(f of foreignIds) {%>
        <tr>
          <th scope="row">{t('entities.<%-to.snake(entity.name)%>.<%-f.foreignId%>')}</th>
          <td>
            <Link className="text-link" to={`/entities/<%=to.slug(pluralize(f.related))%>/view/${data?.<%= f.foreignId%>}`}>
              {data?.<%= f.foreignId%>}
            </Link>
          </td>
          </tr>
        <%}%>
        <% for(r of relatedEntities) {%>
        <tr>
          <th scope="row">{t('entities.<%-to.snake(entity.name)%>.<%-r.field%>')}<%- r.isArray ? '[&nbsp;]' : '' %></th>
          <td>
            <% if(r.isArray) {%>
            {data?.<%-r.field%>?.map(item => <><<%=r.related%>DataView data={item} /><hr /></>)}
            <%} else {%>
            {data?.<%-r.field%> ? <<%=r.related%>DataView data={data?.<%-r.field%>} /> : <span className="text-muted">NO DATA</span>}
            <%}%>
          </td>
        </tr>
        <%}%>
      </tbody>
    </table>
  )
}

export default function <%= entity.name %>View() {
  const { t } = useTranslation();
  const id = parseInt(useParams<<%= entity.name %>ViewParams>().id, 10);

  const authenticatedFetch = useAuthenticatedFetch();
  const [<%=to.camel(entity.name)%>, <%=to.camel(`set${entity.name}`)%>] = useState<I<%= entity.name %>>();
  const [loading, setLoading] = useState(false);

  const handleSearch = () => {
    setLoading(true);
    authenticatedFetch(`/api/<%=to.slug(pluralize(entity.name))%>/${id}`)
      .then((response) => response.json())
      .then((data: I<%= entity.name %>) => {
        <%=to.camel(`set${entity.name}`)%>(data);
        setLoading(false);
      })
      .catch((error) => {
        console.error('ERR:', error);
        setLoading(false);
        // alert('ERR');
      });
  };

  useEffect(() => {
    handleSearch();
  }, [id]);

  return (
    <div className="m-4">
      <h1 className="text-2xl mb-4">{t('entities.<%-to.snake(entity.name)%>.<%- to.capital(entity.name)%>')} ID {id}</h1>
      <SimpleLoader loading={loading} />
      {!loading && <<%= entity.name %>DataView data={<%=to.camel(entity.name)%>} />}
      {!loading && <JsonPrint data={<%=to.camel(entity.name)%>} />}
    </div>
  );
}
