import { useParams, useNavigate } from 'react-router-dom';
import { useState, useEffect } from 'react';
import { useTranslation } from 'react-i18next';
import axiosInstance, { HttpError } from '../../shared/axiosInstance';
import { useNotifications } from '../../contexts/NotificationContext';
import { SimpleLoader } from '../../components/SimpleLoader';
import { I<%= entity.name %> } from '../../shared/model/<%= to.slug(entity.name)%>.model';
import { <%= entity.name %>Form } from '../../components/entities/<%= entity.name %>Form';

interface <%= entity.name %>ViewParams extends Record<string, string | undefined> {
  id: string;
}

export default function <%= entity.name %>Edit() {
  const { t, i18n } = useTranslation();
  const { id } = useParams<<%= entity.name %>ViewParams>();
  const navigate = useNavigate();
  const { addNotification } = useNotifications();
  const [<%=to.camel(entity.name)%>, <%=to.camel(`set${entity.name}`)%>] = useState<I<%= entity.name %>>({} as I<%= entity.name %>);
  const [loading, setLoading] = useState(false);

  useEffect(() => {
    if (id) {
      setLoading(true);
      axiosInstance
        .get(`/api/pilots/${id}`)
        .then((response) => response?.data)
        .then((data: I<%= entity.name %>) => {
          set<%= entity.name %>(data);
        })
        .catch((error: HttpError) => {
          addNotification({
            type: 'error',
            message: `${t('errors.entities.read')} ${t('entities:<%-to.snake(entity.name)%>.<%= entity.name %>')}${id ? ` ID ${id}` : ''}`,
            details: error?.message,
            techDetails: error?.details,
          });
          navigate('/entities/<%=to.slug(pluralize(entity.name))%>');
        })
        .finally(() => {
          setLoading(false);
        });
    }
  }, [id, addNotification, navigate, t]);

  const handleSubmit = async (data: I<%= entity.name %>) => {
    try {
      const responseData = id
        ? (await axiosInstance.put(`/api/pilots/${id}`, data))?.data
        : (await axiosInstance.post('/api/pilots', data))?.data;

      addNotification({
        type: 'success',
        message: t(`actions.crud.successfully${id ? 'Updated' : 'Created'}`, {
          id: id || responseData.id,
        }),
      });
      navigate('/entities/<%=to.slug(pluralize(entity.name))%>');
    } catch (error) {
      let details = undefined;
      let techDetails = undefined;
      if (error instanceof Error) {
        details = error.message;
      }
      if (error instanceof HttpError) {
        details = error?.message;
        techDetails = error?.details;
      }
      addNotification({
        type: 'error',
        message: `${t(id ? 'errors.entities.update' : 'errors.entities.create')} ${t('entities:<%-to.snake(entity.name)%>.<%= entity.name %>')}${id ? ` ID ${id}` : ''}`,
        details,
        techDetails,
      });
    }
  };

  useEffect(() => {
    document.title = `${t(`actions.crud.${id ? 'update' : 'create'}`)} ${t('entities:<%-to.snake(entity.name)%>.<%= entity.name %>')}${id ? ` ID ${id}` : ''}`;
  }, [id, i18n.language, t]);

  return (
    <div className="max-w-5xl mx-auto">
      <h1 className="text-2xl my-8">
        {t(`actions.crud.${id ? 'update' : 'create'}`)} {t('entities:<%-to.snake(entity.name)%>.<%= entity.name %>')}
        {id ? ` ID ${id}` : ''}
      </h1>
      <SimpleLoader loading={loading} />
      {!loading && (
        <<%= entity.name %>Form
          <%-to.camel(entity.name)%>={<%-to.camel(entity.name)%>}
          onSubmit={handleSubmit}
          onCancel={() => navigate('/entities/<%=to.slug(pluralize(entity.name))%>')}
        />
      )}
    </div>
  );
}
