import { Link } from 'react-router-dom';
import { useParams } from 'react-router-dom';
import { useState, useEffect } from 'react';
import { useTranslation } from 'react-i18next';
import { useAuthenticatedFetch } from '../../hooks/useAuthenticatedFetch';
import { JsonPrint } from '../../components/JsonPrint';
import { SimpleLoader } from '../../components/SimpleLoader';
import { I<%= entity.name %> } from '../../shared/model/<%= to.slug(entity.name)%>.model';
<%relatedEntities
    .map(r => r.related)
    .filter(r => r !== entity.name)
    .reduce((acc, current) => acc.includes(current) ? acc : [...acc, current], [])
    .forEach(e => {%>import { <%=e%>DataView } from './<%= e %>View';
<%});-%>

interface <%= entity.name %>DataViewParams {
  data: I<%= entity.name %> | undefined | null;
}

interface <%= entity.name %>ViewParams extends Record<string, string | undefined> {
  id: string;
}

export function <%= entity.name %>DataView({data}: <%= entity.name %>DataViewParams) {
  const { t } = useTranslation();
  if(!data) return '';
  return (
    <table className="details-table">
      <tbody>
        <tr>
          <th scope="row">{t('entities.<%-to.snake(entity.name)%>.id')}</th>
          <td>
            <Link className="text-link" to={`/entities/<%=to.slug(pluralize(entity.name))%>/view/${data?.id}`}>
              {data?.id}
            </Link>
          </td>
        </tr>
<%      for(column of columns) { -%>
        <tr>
          <th scope="row">{t('entities.<%-to.snake(entity.name)%>.<%-column%>')}</th>
          <td>{data?.<%= column%>}</td>
        </tr>
<%      } -%>
<%      if(false) for(f of foreignIds) { -%>
        <tr>
          <th scope="row">{t('entities.<%-to.snake(entity.name)%>.<%-f.foreignId%>')}</th>
          <td>
            <Link className="text-link" to={`/entities/<%=to.slug(pluralize(f.related))%>/view/${data?.<%= f.foreignId%>}`}>
              {data?.<%= f.foreignId%>}
            </Link>
          </td>
        </tr>
<%      } -%>
<%      for(r of relatedEntities) { -%>
        <tr>
          <th scope="row" className="align-top">{t('entities.<%-to.snake(entity.name)%>.<%-r.field%>')}</th>
          <td className='flex flex-col gap-y-4'>
<%             if(r.isArray) { -%>
            {data?.<%-r.field%> && data?.<%-r.field%>?.map((item, index) => <div key={index} className='rounded-md border dark:border-gray-700 border-gray-200 p-4'><<%=r.related%>DataView data={item} /></div>)}
<%             } else { -%>
            {data?.<%-r.field%> && <div className='rounded-md border dark:border-gray-700 border-gray-200 p-4'><<%=r.related%>DataView data={data?.<%-r.field%>} /></div>}
<%             } -%>
          </td>
        </tr>
<%      } -%>
      </tbody>
    </table>
  )
}

export default function <%= entity.name %>View() {
  const { t, i18n } = useTranslation();
  const { id } = useParams<<%= entity.name %>ViewParams>();

  const authenticatedFetch = useAuthenticatedFetch();
  const [<%=to.camel(entity.name)%>, <%=to.camel(`set${entity.name}`)%>] = useState<I<%= entity.name %>>();
  const [loading, setLoading] = useState(false);

  useEffect(() => {
    if (!id) return;
    setLoading(true);
    authenticatedFetch(`/api/<%=to.slug(pluralize(entity.name))%>/${parseInt(id, 10)}`)
      .then((response) => response.json())
      .then((data: I<%= entity.name %>) => {
        <%=to.camel(`set${entity.name}`)%>(data);
        setLoading(false);
      })
      .catch((error) => {
        console.error('ERR:', error);
        setLoading(false);
        // alert('ERR');
      });
  }, [authenticatedFetch, id]);

  useEffect(() => {
    document.title = `${t('entities.<%-to.snake(entity.name)%>.<%- to.capital(entity.name)%>')} ID ${id}`;
  }, [id, i18n.language, t]);

  return (
    <div className="m-4">
      <h1 className="text-2xl mb-4">{t('entities.<%-to.snake(entity.name)%>.<%- to.capital(entity.name)%>')} ID {id}</h1>
      <SimpleLoader loading={loading} />
      {!loading && <<%= entity.name %>DataView data={<%=to.camel(entity.name)%>} />}
      {!loading && <JsonPrint data={<%=to.camel(entity.name)%>} />}
    </div>
  );
}
