<%
const enumsToImport = [];
for({type} of entity.body) {
  if ((enums.filter(enm => enm.name === type)).length === 1) {
    enumsToImport.push(type);
  }
}
const hasText = entity?.body.reduce((res, {type}) => res || type === 'String', false);
const hasUUID = entity?.body.reduce((res, {type}) => res || type === 'UUID', false);
const hasBlob = entity?.body.reduce((res, {type}) => res || type === 'Blob' || type === 'AnyBlob' || type === 'ImageBlob', false);
const hasNumber = entity?.body.reduce((res, {type}) => res || ['Integer','Long','BigDecimal','Float','Double'].includes(type), false);
const hasRequiredBlob = entity?.body
  .filter(({ type }) => type === 'Blob' || type === 'AnyBlob' || type === 'ImageBlob')
  .map(({ validations }) => validations)
  .reduce(
    (required, validation) =>
      required ||
      validation.reduce(
        (required, validation) => required || validation.key === 'required',
        false
      ),
    false
  );
const blobFields = entity?.body.filter(({type}) => (type === 'Blob' || type === 'AnyBlob' || type === 'ImageBlob')).map(({name}) => name);
const hasCheckbox = entity?.body.filter(({type}) => type === 'Boolean').length > 0;
const hasSelect = (enumsToImport.length + relatedEntities.length + foreignIds.length) > 0;
const hasSelectNotMultiple = (enumsToImport.length + relatedEntities.filter(({isArray}) => !isArray).length + foreignIds.length) > 0;
const hasRelated = (relatedEntities.length + foreignIds.length) > 0;
const isOptional = (validations) => !validations.reduce((required, validation) => required || validation.key === 'required', false);
const getMin = (validations) => validations.reduce((min, validation) => validation.key === 'min' ? validation.value : min, undefined);
const getMax = (validations) => validations.reduce((max, validation) => validation.key === 'max' ? validation.value : max, undefined);
const getMinlength = (validations) => validations.reduce((minlength, validation) => validation.key === 'minlength' ? validation.value : minlength, undefined);
const getMaxlength = (validations) => validations.reduce((maxlength, validation) => validation.key === 'maxlength' ? validation.value : maxlength, undefined);
const getMinbytes = (validations) => validations.reduce((minbytes, validation) => validation.key === 'minbytes' ? validation.value : minbytes, undefined);
const getMaxbytes = (validations) => validations.reduce((maxbytes, validation) => validation.key === 'maxbytes' ? validation.value : maxbytes, undefined);
const getPattern = (validations) => validations.reduce((pattern, validation) => validation.key === 'pattern' ? validation.value : pattern, undefined);
const isEmail = (name) => name.toLowerCase().includes('email');
const fieldTypeToSchema = (type) => {
    const typeMap = {
        'String': 'string',
        'Integer': 'integer',
        'Long': 'integer',
        'BigDecimal': 'number',
        'Float': 'number',
        'Double': 'number',
        'Boolean': 'boolean',
        'LocalDate': 'date',
        'ZonedDateTime': 'datetime',
        'Instant': 'datetime',
        'Duration': 'number',
        'LocalTime': 'time',
        'UUID': 'uuid',
        'TextBlob': 'string',
        'Blob': 'blob',
        'AnyBlob': 'blob',
        'ImageBlob': 'image',
    };
    return typeMap[type] || 'string';
}
const fieldTypeToInputType = (type) => {
    const typeMap = {
        'String': 'text',
        'Integer': 'number',
        'Long': 'number',
        'BigDecimal': 'number',
        'Float': 'number',
        'Double': 'number',
        'Boolean': 'checkbox',
        'LocalDate': 'date',
        'ZonedDateTime': 'datetime-local',
        'Instant': 'datetime-local',
        'LocalTime': 'time',
        'Duration': 'number',
        'TextBlob': 'textarea',
        'Blob': 'file',
        'AnyBlob': 'file',
        'ImageBlob': 'file'
    };
    return typeMap[type] || 'text';
}
const fieldTypeToInputStep = (type) => {
    const stepMap = {
        'BigDecimal': `'any'`,
        'Float': `'any'`,
        'Double': `'any'`,
        'Integer': 1,
        'Long': 1,
        'ZonedDateTime': 1,
        'LocalTime': 1,
        'Instant': 1
    };
    return stepMap[type] || null;
}

getValidationsFromValidations = (validations) => {
  v = {};
  if (!isOptional(validations)) v = {...v, required: true};
  if (getMin(validations)) v = {...v, min: Number(getMin(validations))};
  if (getMax(validations)) v = {...v, max: Number(getMax(validations))};
  if (getMinlength(validations)) v = {...v, minlength: Number(getMinlength(validations))};
  if (getMaxlength(validations)) v = {...v, maxlength: Number(getMaxlength(validations))};
  if (getMinbytes(validations)) v = {...v, minbytes: Number(getMinbytes(validations))};
  if (getMaxbytes(validations)) v = {...v, maxbytes: Number(getMaxbytes(validations))};
  if (getPattern(validations)) v = {...v, pattern: getPattern(validations)};
  return JSON.stringify(v) !== '{}' ? JSON.stringify(v) : null;
}

const getField = (type, name, validations) => {
    if ((enums.filter(enm => enm.name === type)).length === 1) {
-%>
          <SelectField
            fieldName="<%= to.snake(name) %>"
            formMethods={formMethods}
            loadingOptions={false}
            options={Object.values(<%= type %>).map((v) => ({
              value: String(v),
              label: String(v),
            }))}
          />
<%    } else {
    const T = fieldTypeToInputType(type);
    const STEP = fieldTypeToInputStep(type);
-%>
<%      if (T !== 'textarea') {-%>
          <input
            type="<%- T %>"
<%        if (!!STEP) {-%>
            step={<%- STEP %>}
<%        }-%>
            id="<%= to.snake(name) %>"
            {...register('<%= to.snake(name) %>'<% if (validations.length > 0) { %>, {<%- "\n"%><% } -%>
<%        if (!isOptional(validations)) { -%>
              required: 'errors.validations.required',
<%        } -%>
<%        if (getMin(validations) !== undefined) { -%>
              min: {
                value: <%-getMin(validations)%>,
                message: 'errors.validations.min:<%-getMin(validations)%>',
              },
<%        } -%>
<%        if (getMax(validations) !== undefined) { -%>
              max: {
                value: <%-getMax(validations)%>,
                message: 'errors.validations.max:<%-getMax(validations)%>',
              },
<%        } -%>
<%        if (getMinlength(validations) !== undefined) { -%>
              minLength: {
                value: <%-getMinlength(validations)%>,
                message: 'errors.validations.minlength:<%-getMinlength(validations)%>',
              },
<%        } -%>
<%        if (getMaxlength(validations) !== undefined) { -%>
              maxLength: {
                value: <%-getMaxlength(validations)%>,
                message: 'errors.validations.maxlength:<%-getMaxlength(validations)%>',
              },
<%        } -%>
<%        if (getPattern(validations) !== undefined) { -%>
              pattern: {
                value: /<%-getPattern(validations)%>/,
                message: 'errors.validations.pattern',
              },
<%        } -%>
<%        if (isEmail(name) && getPattern(validations) === undefined) {-%>
              pattern: {
                value: /^[^\s@]+@[^\s@]+\.[^\s@]+$/,
                message: 'errors.validations.pattern',
              },
<%        }-%>
<%        if(T === 'number') {-%>
              valueAsNumber: true,
<%        }-%>
<% if (validations.length > 0) { %>            }<% } %>)}
            className={<%- (T === 'checkbox') ? 'checkBoxClassName' : 'inputClassName' %>(!!errors?.<%= to.snake(name) %>?.message)}
          />
<%      } else {-%>
          <textarea
            rows={10}
            id="<%= to.snake(name) %>"
            {...register('<%= to.snake(name) %>'<% if (!isOptional(validations)) { -%>, { required: 'errors.validations.required' }<% } -%>)}
            className={inputClassName(!!errors?.<%= to.snake(name) %>?.message)}
          />
<%      }-%>
<%    }-%>
<%}-%>
import { useEffect, useState } from 'react';
import { useForm } from 'react-hook-form';
import { useTranslation } from 'react-i18next';
import { I<%= entity.name %> } from '../../shared/model/<%= to.slug(entity.name)%>.model';
<%for(related of [...new Set(relatedEntities.map(({related}) => related)), ...new Set(foreignIds.map(({related}) => related))]) {-%>
<%  if (related !== entity.name) {-%>
import { I<%= related %> } from '../../shared/model/<%= to.slug(related)%>.model';
<%  }-%>
<%}-%>
import { useApi } from '../../hooks/useApi';
<% if (hasRelated) {-%>
import { HttpError } from '../../hooks/useApi';
<% }-%>
import { useNotifications } from '../../contexts/NotificationContext';
import useAutoShortcuts from '../../hooks/useAutoShortcuts';
<%- [...new Set(enumsToImport)].map(enm => `import { ${enm} } from '../../shared/model/enumerations/${to.slug(enm)}.model';`).join("\n") -%>

import {
  FormErrors,
  FormLabel,
<% if (hasBlob) {-%>
  FileField,
<% } -%>
<% if (hasNumber) {-%>
  NumberField,
<% } -%>
<% if (hasSelect) {-%>
  SelectField,
<%  if (hasRelated) {-%>
  ISelectFieldOption,
<%  }-%>
<% } -%>
<% if (hasText) {-%>
  TextField,
<% } -%>
<% if (hasUUID) {-%>
  UuidField,
<% } -%>
} from '../../components/FormElements';
import { detect } from 'detect-browser';

const isMac = detect()?.os?.toLowerCase().includes('mac');

interface <%= entity.name %>FormProps {
  <%= to.camel(entity.name)%>: I<%= entity.name %>;
  onSubmit: (data: I<%= entity.name %>) => void | Promise<void>;
  onCancel: () => void;
}

export function <%= entity.name %>Form({ <%= to.camel(entity.name)%>, onSubmit, onCancel }: <%= entity.name%>FormProps) {
  const { t } = useTranslation();
  const { addNotification } = useNotifications();
  useAutoShortcuts();
  const { fetch } = useApi();
<% for({field} of relatedEntities) {-%>
  const [<%= to.camel((field)) %>DataOptions, <%= to.camel(`set_${(field)}_data_options`) %>] = useState<ISelectFieldOption[]>([]);
<% }-%>
<% for({foreignId} of foreignIds) {-%>
  const [<%= to.camel((foreignId)) %>DataOptions, <%= to.camel(`set_${(foreignId)}_data_options`) %>] = useState<ISelectFieldOption[]>([]);
<% }-%>
  const [loadingOptions, setLoadingOptions] = useState(true);

  const formMethods = useForm();
  const {
    register,
    handleSubmit,
    formState: { errors, isSubmitting },
    reset,
  } = formMethods;

  const handleFormSubmit = async (data: I<%= entity.name %>) => {
    try {
      await onSubmit(data);
    } catch (error) {
      console.error('Form submission error:', error);
    }
  };

  useEffect(() => {
    const fetchOptions = async () => {
      setLoadingOptions(true);
<%  for({field, related, labelField, cardinality} of relatedEntities) {
  let filter = '';
  if (cardinality === "OneToOne") {
    filter += `?available_for_${to.snake(entity.name)}=\${${to.camel(entity.name)}?.id ?? ''}`;
  }
-%>
      try {
        const <%= to.camel(field) %>Response = await fetch(`/api/<%=to.slug(pluralize(related))%><%-filter%>`);
        const <%= to.camel(field) %>Data = await <%= to.camel(field) %>Response.json();
        <%= to.camel(`set_${field}_data_options`) %>((<%= to.camel(field) %>Data.map((item: I<%-related%>) => ({
          value: item.id,
<%        if (labelField === 'id') {-%>
          label: `${item.id}`
<%        } else {-%>
          label: `${item.<%-to.snake(labelField)%> || ''} (ID: ${item.id})`
<%        }-%>
        }))).sort((a: ISelectFieldOption, b: ISelectFieldOption) => String(a.label).localeCompare(String(b.label), undefined, { numeric: true })));
      } catch (error: unknown) {
        console.error('Error fetching options:', error);
        addNotification({
          type: 'error',
          message: `${t('errors.options.load')} ${t('entities.<%-to.snake(entity.name)%>.<%-to.snake(field)%>')}`,
          details: error instanceof Error ? error.message : undefined,
          techDetails: error instanceof HttpError ? error.details : undefined,
          duration: 10000,
        });
      }
<%  }-%>
<%  for({foreignId, related, labelField} of foreignIds) {-%>
      try {
        const <%= to.camel(foreignId) %>Response = await fetch('/api/<%=to.slug(pluralize(related))%>');
        const <%= to.camel(foreignId) %>Data = await <%= to.camel(foreignId) %>Response.json();
        <%= to.camel(`set_${foreignId}_data_options`) %>((<%= to.camel(foreignId) %>Data.map((item: I<%-related%>) => ({
          value: item.id,
<%        if (labelField === 'id') {%>
          label: `${item.id}`
<%        } else {-%>
          label: `${item.<%-to.snake(labelField)%> || ''} (ID: ${item.id})`
<%        }-%>
        }))).sort((a: ISelectFieldOption, b: ISelectFieldOption) => String(a.label).localeCompare(String(b.label), undefined, { numeric: true })));
      } catch (error: unknown) {
        console.error('Error fetching options:', error);
        addNotification({
          type: 'error',
          message: `${t('errors.options.load')} ${t('entities.<%-to.snake(entity.name)%>.<%-to.snake(foreignId)%>')}`,
          details: error instanceof Error ? error.message : undefined,
          techDetails: error instanceof HttpError ? error.details : undefined,
          duration: 10000,
        });
      }
<%  }-%>
      setLoadingOptions(false);
    };

    fetchOptions();
  }, [<%= to.camel(entity.name)-%>, fetch, addNotification, t]);

  useEffect(() => {
    if (<%= to.camel(entity.name)-%>) {
      reset({
<% for({name, type, validations} of entity.body) {-%>
<%  if (type !== 'Blob' && type !== 'AnyBlob' && type !== 'ImageBlob') {-%>
        <%= to.snake(name) %>: <%= to.camel(entity.name)%>?.<%= to.snake(name) %><%= isOptional(validations) ? ' ?? undefined' : '' %>,
<%  } -%>
<% } -%>
<% for({field, related, isArray} of relatedEntities) {-%>
<%  if (isArray) {-%>
        <%= to.snake(field) %>: <%= to.camel(entity.name)%>?.<%= to.snake(field) %>?.map((item) => String(item.id)),
<%  } else {-%>
        <%= to.snake(field) %>_id: String(<%= to.camel(entity.name)%>?.<%= to.snake(field) %>_id || ''),
<%  }-%>
<% }-%>
<% for({foreignId, related} of foreignIds) {-%>
        <%= to.snake(foreignId) %>: String(<%= to.camel(entity.name)%>?.<%= to.snake(foreignId) %> || ''),
<% }-%>
      });
    }
  }, [<%= to.camel(entity.name)%>, reset, loadingOptions]);

  const inputClassName = (hasErrors = false) =>
    `scheme-light dark:scheme-dark outline-0${hasErrors ? ' outline-2 -outline-offset-2 outline-red-500' : ''} focus:outline-2 focus:-outline-offset-2 ${hasErrors ? 'focus:outline-red-500' : 'focus:outline-blue-600'} rounded-md block w-full mt-3 border-none bg-slate-200 text-slate-900 dark:bg-gray-800 dark:text-gray-300 text-sm/6 py-1.5 px-3`;
<%  if (hasCheckbox) {-%>
  const checkBoxClassName = (hasErrors = false) =>
    `scheme-light dark:scheme-dark outline-0${hasErrors ? ' outline-2 outline-offset-2 outline-red-500' : ''} focus:outline-2 focus:outline-offset-2 ${hasErrors ? 'focus:outline-red-500' : 'focus:outline-blue-600'} rounded-md block w-5 h-5 mx-auto mt-3 border-none bg-slate-200 text-slate-900 dark:bg-gray-800 dark:text-gray-300 text-sm/6 py-3 px-3`;
<%  } -%>
  return (
    <form onSubmit={handleSubmit(handleFormSubmit)} noValidate>
      <div className="max-w-5xl mx-auto space-y-4">
<%    for({name, type, validations} of entity.body) {-%>
        <div>
          <FormLabel
            htmlFor="<%= to.snake(name) %>"
            label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(name)%>')}
<%          if(getValidationsFromValidations(validations)) {-%>
            validations={<%- getValidationsFromValidations(validations) %>}
<%          } -%>
          />
<%      if(type === 'Blob' || type === 'AnyBlob' || type === 'ImageBlob') {-%>
          <FileField
<%        if(type === 'ImageBlob') { -%>
            accept="image/*"
<%        } -%>
            entity={<%= to.camel(entity.name)%>}
            fieldName="<%-to.snake(name)%>"
            formMethods={formMethods}
<%        if(getValidationsFromValidations(validations)) {-%>
            validations={<%- getValidationsFromValidations(validations) %>}
<%        } -%>
          />
<%      } else if (['Integer','Long','BigDecimal','Float','Double'].includes(type)) {-%>
          <NumberField
            fieldName="<%-to.snake(name)%>"
<%          if (fieldTypeToInputStep(type) !== 1) { -%>
            step={<%- fieldTypeToInputStep(type) %>}
<%          } -%>
            formMethods={formMethods}
<%        if(getValidationsFromValidations(validations)) {-%>
            validations={<%- getValidationsFromValidations(validations) %>}
<%        } -%>
          />
<%      } else if (type === 'String') {-%>
          <TextField
            fieldName="<%-to.snake(name)%>"
            formMethods={formMethods}
<%        if(getValidationsFromValidations(validations)) {-%>
            validations={<%- getValidationsFromValidations(validations) %>}
<%        } -%>
          />
<%      } else if (type === 'UUID') {-%>
          <UuidField
            fieldName="<%-to.snake(name)%>"
            formMethods={formMethods}
<%        if(getValidationsFromValidations(validations)) {-%>
            validations={<%- getValidationsFromValidations(validations) %>}
<%        } -%>
          />
<%        } else {-%>
<%= getField(type, name, validations) -%>
<%      }-%>
          <FormErrors errors={errors} fieldName="<%= to.snake(name) %>" />
        </div>
<%    }-%>
<%    for({field, related, isArray, nullable} of relatedEntities) {-%>
        <div>
          <FormLabel
            htmlFor="<%= to.snake(field) %>"
            label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(field)%>')}
<%          if(!nullable) {-%>
            validations={{ required: true }}
<%          }-%>
          />
          <SelectField
            fieldName="<%= to.snake(field) %><%if (!isArray) {%>_id<%}%>"
<%          if (isArray) {-%>
            multiple={true}
<%          }-%>
            formMethods={formMethods}
            loadingOptions={loadingOptions}
            options={<%= to.camel(field) %>DataOptions}
<%          if(!nullable) { %>
            validations={{ required: true }}
<%          }-%>
          />
          <FormErrors errors={errors} fieldName="<%= to.snake(field) %><%if (!isArray) {%>_id<%}%>" />
        </div>
<%    }-%>
<%    for({foreignId, related, isArray, nullable} of foreignIds) {-%>
        <div>
          <FormLabel
            htmlFor="<%= to.snake(foreignId) %>"
            label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(foreignId)%>')}
<%          if(!nullable) {-%>
            validations={{ required: true }}
<%          }-%>
          />
          <SelectField
            fieldName="<%= to.snake(foreignId) %>"
            formMethods={formMethods}
            loadingOptions={loadingOptions}
            options={<%= to.camel(foreignId) %>DataOptions}
<%          if(!nullable) { %>
            validations={{ required: true }}
<%          }-%>
          />
          <FormErrors errors={errors} fieldName="<%= to.snake(foreignId) %>" />
        </div>
<%    }-%>
      </div>
      <div className="flex justify-center gap-4 my-8">
        <button type="button" onClick={onCancel} className="cancel-button">
          {t('actions.crud.cancel')}
        </button>
        <button
          data-shortcut="ctrl+enter"
          type="submit"
          disabled={isSubmitting}
          className="primary-button"
        >
          {t(isSubmitting ? 'actions.crud.saving' : 'actions.crud.save')}
          <kbd className="kdb-shortcut">{isMac ? '⌘' : 'Ctrl'}</kbd>
          <kbd className="kdb-shortcut">↵</kbd>
        </button>
      </div>
    </form>
  );
}
