import { Link } from 'react-router-dom';
import { useParams, useNavigate } from 'react-router-dom';
import { useState, useEffect } from 'react';
import { useTranslation } from 'react-i18next';
import { ArrowLeft } from 'lucide-react';
import { useNotifications } from '../../contexts/NotificationContext';
import { useApi } from '../../hooks/useApi';
import { HttpError } from '../../hooks/useApi';
import { SimpleLoader } from '../../components/SimpleLoader';
<% if(durationColumns.length) {-%>
import { DurationFieldViewer } from '../../components/formElements/DurationField';
<% } -%>
import { I<%= entity.name %> } from '../../shared/model/<%= to.slug(entity.name)%>.model';
import <%= entity.name %>DeleteButton from '../../components/entities/<%= entity.name %>DeleteButton';
<%relatedEntities
    .map(r => r.related)
    .filter(r => r !== entity.name)
    .reduce((acc, current) => acc.includes(current) ? acc : [...acc, current], [])
    .forEach(e => {%>import { <%=e%>DataView } from './<%= e %>View';
<%});-%>

interface <%= entity.name %>DataViewParams {
  data: I<%= entity.name %> | undefined | null;
}

interface <%= entity.name %>ViewParams extends Record<string, string | undefined> {
  id: string;
}

export function <%= entity.name %>DataView({ data }: <%= entity.name %>DataViewParams) {
  const { t } = useTranslation();
  if (!data) return '';
  return (
    <table className="details-table">
      <tbody>
        <tr>
          <th scope="row">{t('entities:<%-to.snake(entity.name)%>.id')}</th>
          <td>
            <Link className="text-link" to={`/entities/<%=to.slug(pluralize(entity.name))%>/view/${data?.id}`}>
              {data?.id}
            </Link>
          </td>
        </tr>
<%      for(column of columns) { -%>
        <tr>
          <th scope="row">{t('entities:<%-to.snake(entity.name)%>.<%-column%>')}</th>
<%        if (!fileColumns.includes(column)) { -%>
<%          if (!durationColumns.includes(column)) { -%>
          <td>{data?.<%= column%>?.toString()}</td>
<%          } else {-%>
          <td><DurationFieldViewer duration={data?.<%= column%>} format="iso" /></td>
<%          }-%>
<%        } else {-%>
          <td>
            {data?.<%= column%>_name && (
              <div>
                <p>{data.<%= column%>_name}</p>
                {data.<%= column%>_type?.startsWith('image/') ? (
                  <a
                    href={`/api/<%=to.slug(pluralize(entity.name))%>/${data.id}/<%- column %>/${data.<%- column %>_name}`}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <img
                      src={`/api/<%=to.slug(pluralize(entity.name))%>/${data.id}/<%- column %>/${data.<%- column %>_name}`}
                      alt={data.<%= column%>_name}
                      className="max-w-xs mt-2"
                    />
                  </a>
                ) : (
                  <a
                    href={`/api/<%=to.slug(pluralize(entity.name))%>/${data.id}/<%- column %>/${data.<%- column %>_name}`}
                    className="text-link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {t('actions.crud.file.viewOrDownload')}
                  </a>
                )}
              </div>
            )}
          </td>
<%      } -%>
        </tr>
<%      } -%>
<%      if(false) for(f of foreignIds) { -%>
        <tr>
          <th scope="row">{t('entities:<%-to.snake(entity.name)%>.<%-f.foreignId%>')}</th>
          <td>
            <Link className="text-link" to={`/entities/<%=to.slug(pluralize(f.related))%>/view/${data?.<%= f.foreignId%>}`}>
              {data?.<%= f.foreignId%>?.toString()}
            </Link>
          </td>
        </tr>
<%      } -%>
<%      for(r of relatedEntities) { -%>
        {Object.prototype.hasOwnProperty.call(data, '<%-r.field%>') && (
        <tr>
          <th scope="row" className="align-top">{t('entities:<%-to.snake(entity.name)%>.<%-r.field%>')}</th>
          <td className='flex flex-col gap-y-4'>
<%             if(r.isArray) { -%>
            {data?.<%-r.field%> && data?.<%-r.field%>?.map((item, index) => <div key={index} className='rounded-md border dark:border-slate-700 border-slate-300 p-4'><<%=r.related%>DataView data={item} /></div>)}
<%             } else { -%>
            {data?.<%-r.field%> && <div className='rounded-md border dark:border-slate-700 border-slate-300 p-4'><<%=r.related%>DataView data={data?.<%-r.field%>} /></div>}
<%             } -%>
          </td>
        </tr>
        )}
<%      } -%>
      </tbody>
    </table>
  );
}

export default function <%= entity.name %>View() {
  const { t, i18n } = useTranslation();
  const { id } = useParams<<%= entity.name %>ViewParams>();

  const navigate = useNavigate();
  const { addNotification } = useNotifications();
  const { fetch } = useApi();
  const [<%=to.camel(entity.name)%>, <%=to.camel(`set${entity.name}`)%>] = useState<I<%= entity.name %>>();
  const [loading, setLoading] = useState(false);

  useEffect(() => {
    if (!id) return;
    setLoading(true);
    fetch(`/api/<%=to.slug(pluralize(entity.name))%>/${id}`)
      .then((response) => response.json())
      .then((data: I<%= entity.name %>) => {
        <%=to.camel(`set${entity.name}`)%>(data);
        setLoading(false);
      })
      .catch((error: HttpError) => {
        addNotification({
          type: 'error',
          message: `${t('errors.entities.read')} ${t('entities:<%-to.snake(entity.name)%>.<%= entity.name %>')} ID ${id}`,
          details: error?.message,
          techDetails: error?.details,
          duration: 10000,
        });
        navigate('/entities/<%=to.slug(pluralize(entity.name))%>');
      });
  }, [fetch, id, navigate, t, addNotification]);

  useEffect(() => {
    document.title = `${t('entities:<%-to.snake(entity.name)%>.<%-entity.name%>')} ID ${id}`;
  }, [id, i18n.language, t]);

  return (
    <>
      <h1 className="text-2xl mb-4">
        {t('entities:<%-to.snake(entity.name)%>.<%- entity.name%>')} ID {id}
      </h1>
      <SimpleLoader loading={loading} />
      {!loading && <<%= entity.name %>DataView data={<%=to.camel(entity.name)%>} />}
      {!loading && (
      <div className="flex justify-center gap-4 mt-4">
        <Link to={`/entities/<%-to.slug(pluralize(entity.name))%>`} className="cancel-button">
          <ArrowLeft size={20} />
          {t('actions.crud.back')}
        </Link>
        <Link to={`/entities/<%-to.slug(pluralize(entity.name))%>/edit/${id}`} className="primary-button">
          {t('actions.crud.edit')}
        </Link>
        <<%= entity.name %>DeleteButton id={id} />
      </div>
      )}
    </>
  );
}
