<%
const enumsToImport = [];
for({type} of entity.body) {
  if ((enums.filter(enm => enm.name === type)).length === 1) {
    enumsToImport.push(type);
  }
}
const isEmail = (name) => name.toLowerCase().includes('email');
const isPassword = (name) => name.toLowerCase().includes('password');
const isTel = (name) => /(phone|phonenumber)$/.test(name.toLowerCase());
const isUrl = (name) => /url$/.test(name.toLowerCase());
const hasEmail = entity?.body.reduce((res, {type,name}) => res || (type === 'String' && isEmail(name)), false);
const hasPassword = entity?.body.reduce((res, {type,name}) => res || (type === 'String' && isPassword(name)), false);
const hasTel = entity?.body.reduce((res, {type,name}) => res || (type === 'String' && isTel(name)), false);
const hasUrl = entity?.body.reduce((res, {type,name}) => res || (type === 'String' && isUrl(name)), false);
const hasText = entity?.body.reduce((res, {type}) => res || type === 'String', false);
const hasTextarea = entity?.body.reduce((res, {type}) => res || type === 'TextBlob', false);
const hasUUID = entity?.body.reduce((res, {type}) => res || type === 'UUID', false);
const hasBlob = entity?.body.reduce((res, {type}) => res || type === 'Blob' || type === 'AnyBlob' || type === 'ImageBlob', false);
const hasNumber = entity?.body.reduce((res, {type}) => res || ['Integer','Long','BigDecimal','Float','Double'].includes(type), false);
const hasDuration = entity?.body.reduce((res, {type}) => res || type === 'Duration', false);
const hasDate = entity?.body.reduce((res, {type}) => res || type === 'LocalDate', false);
const hasDateTime = entity?.body.reduce((res, {type}) => res || type === 'ZonedDateTime' || type === 'Instant', false);
const hasTime = entity?.body.reduce((res, {type}) => res || type === 'LocalTime', false);
const hasRequiredBlob = entity?.body
  .filter(({ type }) => type === 'Blob' || type === 'AnyBlob' || type === 'ImageBlob')
  .map(({ validations }) => validations)
  .reduce(
    (required, validation) =>
      required ||
      validation.reduce(
        (required, validation) => required || validation.key === 'required',
        false
      ),
    false
  );
const getStringFieldType = (name) => {
  if (isEmail(name)) return 'EmailField';
  if (isPassword(name)) return 'PasswordField';
  if (isTel(name)) return 'TelField';
  if (isUrl(name)) return 'UrlField';
  return 'TextField';
}
const blobFields = entity?.body.filter(({type}) => (type === 'Blob' || type === 'AnyBlob' || type === 'ImageBlob')).map(({name}) => name);
const hasCheckbox = entity?.body.filter(({type}) => type === 'Boolean').length > 0;
const hasSelect = (enumsToImport.length + relatedEntities.length + foreignIds.length) > 0;
const hasSelectNotMultiple = (enumsToImport.length + relatedEntities.filter(({isArray}) => !isArray).length + foreignIds.length) > 0;
const hasRelated = (relatedEntities.length + foreignIds.length) > 0;
const isOptional = (validations) => !validations.reduce((required, validation) => required || validation.key === 'required', false);
const getMin = (validations) => validations.reduce((min, validation) => validation.key === 'min' ? validation.value : min, undefined);
const getMax = (validations) => validations.reduce((max, validation) => validation.key === 'max' ? validation.value : max, undefined);
const getMinlength = (validations) => validations.reduce((minlength, validation) => validation.key === 'minlength' ? validation.value : minlength, undefined);
const getMaxlength = (validations) => validations.reduce((maxlength, validation) => validation.key === 'maxlength' ? validation.value : maxlength, undefined);
const getMinbytes = (validations) => validations.reduce((minbytes, validation) => validation.key === 'minbytes' ? validation.value : minbytes, undefined);
const getMaxbytes = (validations) => validations.reduce((maxbytes, validation) => validation.key === 'maxbytes' ? validation.value : maxbytes, undefined);
const getPattern = (validations) => validations.reduce((pattern, validation) => validation.key === 'pattern' ? validation.value : pattern, undefined);
const fieldTypeToSchema = (type) => {
    const typeMap = {
        'String': 'string',
        'Integer': 'integer',
        'Long': 'integer',
        'BigDecimal': 'number',
        'Float': 'number',
        'Double': 'number',
        'Boolean': 'boolean',
        'LocalDate': 'date',
        'ZonedDateTime': 'datetime',
        'Instant': 'datetime',
        'Duration': 'number',
        'LocalTime': 'time',
        'UUID': 'uuid',
        'TextBlob': 'string',
        'Blob': 'blob',
        'AnyBlob': 'blob',
        'ImageBlob': 'image',
    };
    return typeMap[type] || 'string';
}
const fieldTypeToInputType = (type) => {
    const typeMap = {
        'String': 'text',
        'Integer': 'number',
        'Long': 'number',
        'BigDecimal': 'number',
        'Float': 'number',
        'Double': 'number',
        'Boolean': 'checkbox',
        'LocalDate': 'date',
        'ZonedDateTime': 'datetime-local',
        'Instant': 'datetime-local',
        'LocalTime': 'time',
        'Duration': 'number',
        'TextBlob': 'textarea',
        'Blob': 'file',
        'AnyBlob': 'file',
        'ImageBlob': 'file'
    };
    return typeMap[type] || 'text';
}

getValidationsFromValidations = (validations) => {
  v = {};
  if (!isOptional(validations)) v = {...v, required: true};
  if (getMin(validations)) v = {...v, min: Number(getMin(validations))};
  if (getMax(validations)) v = {...v, max: Number(getMax(validations))};
  if (getMinlength(validations)) v = {...v, minlength: Number(getMinlength(validations))};
  if (getMaxlength(validations)) v = {...v, maxlength: Number(getMaxlength(validations))};
  if (getMinbytes(validations)) v = {...v, minbytes: Number(getMinbytes(validations))};
  if (getMaxbytes(validations)) v = {...v, maxbytes: Number(getMaxbytes(validations))};
  if (getPattern(validations)) v = {...v, pattern: getPattern(validations)};
  return JSON.stringify(v) !== '{}' ? JSON.stringify(v) : null;
}
-%>
import { useEffect } from 'react';
import { useForm, FormProvider } from 'react-hook-form';
import { useTranslation } from 'react-i18next';
import { I<%= entity.name %> } from '../../shared/model/<%= to.slug(entity.name)%>.model';
import useAutoShortcuts from '../../hooks/useAutoShortcuts';

import <%= entity.name %>DeleteButton from './<%= entity.name %>DeleteButton';

<%- [...new Set(enumsToImport)].map(enm => `import { ${enm} } from '../../shared/model/enumerations/${to.slug(enm)}.model';`).join("\n") -%>
import {
<% if (hasCheckbox) {-%>
  Checkbox,
<% } -%>
<% if (hasDate) {-%>
  DateField,
<% } -%>
<% if (hasDateTime) {-%>
  DateTimeField,
<% } -%>
<% if (hasDuration) {-%>
  DurationField,
<% } -%>
<% if (hasEmail) {-%>
  EmailField,
<% } -%>
<% if (hasBlob) {-%>
  FileField,
<% } -%>
<% if (hasNumber) {-%>
  NumberField,
<% } -%>
<% if (hasPassword) {-%>
  PasswordField,
<% } -%>
<% if (hasUrl) {-%>
  UrlField,
<% } -%>
<% if (hasTel) {-%>
  TelField,
<% } -%>
<% if (hasSelect) {-%>
  SelectField,
<% } -%>
<% if (hasTextarea) {-%>
  Textarea,
<% } -%>
<% if (hasText) {-%>
  TextField,
<% } -%>
<% if (hasTime) {-%>
  TimeField,
<% } -%>
<% if (hasUUID) {-%>
  UuidField,
<% } -%>
} from '../formElements';
import { detect } from 'detect-browser';

const isMac = detect()?.os?.toLowerCase().includes('mac');

interface <%= entity.name %>FormProps {
  <%= to.camel(entity.name)%>: I<%= entity.name %>;
  onSubmit: (data: I<%= entity.name %>) => void | Promise<void>;
  onCancel: () => void;
}

export function <%= entity.name %>Form({ <%= to.camel(entity.name)%>, onSubmit, onCancel }: <%= entity.name%>FormProps) {
  const { t } = useTranslation();
  useAutoShortcuts();

  const formMethods = useForm();
  const {
    handleSubmit,
    formState: { isSubmitting },
    reset,
  } = formMethods;

  const handleFormSubmit = async (data: I<%= entity.name %>) => {
    try {
      await onSubmit(data);
    } catch (error) {
      console.error('Form submission error:', error);
    }
  };

  useEffect(() => {
    if (<%= to.camel(entity.name)-%>) {
      reset({
<% for({name, type, validations} of entity.body) {-%>
<%  if (type !== 'Blob' && type !== 'AnyBlob' && type !== 'ImageBlob') {-%>
        <%= to.snake(name) %>: <%= to.camel(entity.name)%>?.<%= to.snake(name) %><%= isOptional(validations) ? ' ?? undefined' : '' %>,
<%  } -%>
<% } -%>
      });
    }
  }, [<%= to.camel(entity.name)%>, reset]);

  return (
    <FormProvider {...formMethods}>
      <form onSubmit={handleSubmit(handleFormSubmit)} noValidate>
        <div className="max-w-5xl mx-auto space-y-4">
<%      for({name, type, validations} of entity.body) {-%>
          <div>
<%        if ((enums.filter(enm => enm.name === type)).length === 1) {-%>
            <SelectField
              fieldName="<%= to.snake(name) %>"
              label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(name)%>')}
              options={Object.values(<%= type %>).map((v) => ({
                value: String(v),
                label: String(v),
              }))}
            />
<%        } else if(type === 'Blob' || type === 'AnyBlob' || type === 'ImageBlob') {-%>
            <FileField
<%          if(type === 'ImageBlob') { -%>
              accept="image/*"
<%          } -%>
              entity={<%= to.camel(entity.name)%>}
              fieldName="<%-to.snake(name)%>"
              label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(name)%>')}
<%          if(getValidationsFromValidations(validations)) {-%>
              validations={<%- getValidationsFromValidations(validations) %>}
<%          } -%>
            />
<%        } else if (['Integer','Long','BigDecimal','Float','Double'].includes(type)) {-%>
            <NumberField
              fieldName="<%-to.snake(name)%>"
              label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(name)%>')}
<%          if(getValidationsFromValidations(validations)) {-%>
              validations={<%- getValidationsFromValidations(validations) %>}
<%          } -%>
            />
<%        } else if (type === "Boolean") {-%>
            <Checkbox
              fieldName="<%-to.snake(name)%>"
              label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(name)%>')}
<%          if(getValidationsFromValidations(validations)) {-%>
              validations={<%- getValidationsFromValidations(validations) %>}
<%          } -%>
            />
<%        } else if (type === "Duration") {-%>
            <DurationField
              fieldName="<%-to.snake(name)%>"
              label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(name)%>')}
<%          if(getValidationsFromValidations(validations)) {-%>
              validations={<%- getValidationsFromValidations(validations) %>}
<%          } -%>
            />
<%        } else if (type === "LocalDate") {-%>
            <DateField
              fieldName="<%-to.snake(name)%>"
              label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(name)%>')}
<%          if(getValidationsFromValidations(validations)) {-%>
              validations={<%- getValidationsFromValidations(validations) %>}
<%          } -%>
            />
<%        } else if (type === 'ZonedDateTime' || type === 'Instant') {-%>
            <DateTimeField
              fieldName="<%-to.snake(name)%>"
              label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(name)%>')}
<%          if(getValidationsFromValidations(validations)) {-%>
              validations={<%- getValidationsFromValidations(validations) %>}
<%          } -%>
            />
<%        } else if (type === "LocalTime") {-%>
            <TimeField
              fieldName="<%-to.snake(name)%>"
              label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(name)%>')}
<%          if(getValidationsFromValidations(validations)) {-%>
              validations={<%- getValidationsFromValidations(validations) %>}
<%          } -%>
            />
<%        } else if (type === 'String') {-%>
            <<%- getStringFieldType(name) %>
              fieldName="<%-to.snake(name)%>"
              label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(name)%>')}
<%          if(getValidationsFromValidations(validations)) {-%>
              validations={<%- getValidationsFromValidations(validations) %>}
<%          } -%>
            />
<%        } else if (type === 'UUID') {-%>
            <UuidField
              fieldName="<%-to.snake(name)%>"
              label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(name)%>')}
<%          if(getValidationsFromValidations(validations)) {-%>
              validations={<%- getValidationsFromValidations(validations) %>}
<%          } -%>
            />
<%        } else if (type === 'TextBlob') {-%>
            <Textarea
              rows={10}
              fieldName="<%= to.snake(name) %>"
              label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(name)%>')}
<%           if (!isOptional(validations)) { -%>
              validations={{ required: true }}
<%           } -%>
            />
<%        }-%>
          </div>
<%      }-%>
<%      for({field, related, labelField, cardinality, isArray, nullable} of relatedEntities) {
          let filter = '';
          if (cardinality === "OneToOne") {
            filter += `?available_for_${to.snake(entity.name)}=\${${to.camel(entity.name)}?.id ?? ''}`;
          }  
-%>
          <div>
            <SelectField
              fieldName="<%= to.snake(field) %><%if (!isArray) {%>_id<%}%>"
              label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(field)%>')}
<%            if (isArray) {-%>
              multiple={true}
<%            }-%>
              optionsLoad={{
<%            if (filter !== '') {-%>
                url: `/api/<%=to.slug(pluralize(related))%><%-filter%>`,
<%            } else {-%>
                url: '/api/<%=to.slug(pluralize(related))%>',
<%            }-%>
<%            if (labelField !== 'id') {-%>
                labelAttribute: '<%-to.snake(labelField)%>',
<%            }-%>
<%            if (searchEngine === 'null') {-%>
                searchable: false,
<%            }-%>
              }}
<%            if (isArray) {-%>
              defaultValue={<%= to.camel(entity.name)%>?.<%= to.snake(field) %>?.map((item) => item.id)}
<%            } else {-%>
              defaultValue={<%= to.camel(entity.name)%>?.<%= to.snake(field) %>_id}
<%            }-%>
<%            if(!nullable) {-%>
              validations={{ required: true }}
<%            }-%>
            />
          </div>
<%      }-%>
<%      for({foreignId, related, labelField, isArray, nullable} of foreignIds) {-%>
          <div>
            <SelectField
              fieldName="<%= to.snake(foreignId) %>"
              label={t('entities.<%-to.snake(entity.name)%>.<%-to.snake(foreignId)%>')}
              optionsLoad={{
                url: '/api/<%=to.slug(pluralize(related))%>',
<%            if (labelField !== 'id') {-%>
                labelAttribute: '<%-to.snake(labelField)%>',
<%            }-%>
              }}
              defaultValue={<%= to.camel(entity.name)%>?.<%= to.snake(foreignId) %>}
<%            if(!nullable) { -%>
              validations={{ required: true }}
<%            }-%>
            />
          </div>
<%      }-%>
        </div>
        <div className="flex justify-center gap-4 my-8">
          <button type="button" onClick={onCancel} className="cancel-button">
            {t('actions.crud.cancel')}
          </button>
          <button
            data-shortcut="ctrl+enter"
            type="submit"
            disabled={isSubmitting}
            className="primary-button"
          >
            {t(isSubmitting ? 'actions.crud.saving' : 'actions.crud.save')}
            <kbd className="kdb-shortcut">{isMac ? '⌘' : 'Ctrl'}</kbd>
            <kbd className="kdb-shortcut">↵</kbd>
          </button>
          {<%= to.camel(entity.name)-%>?.id && <<%= entity.name %>DeleteButton id={<%= to.camel(entity.name)-%>.id} />}
        </div>
      </form>
    </FormProvider>
  );
}
