<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import TablePlaceholder from '@/components/TablePlaceholder.vue';
import { type Ref, ref, onMounted } from 'vue';
import ButtonActionConfirm from '@/components/ButtonActionConfirm.vue'
import <%= entity.variable %>Service from '@/services/entities/<%= entity.variable %>.service';
import { type Data } from '@/models/entities/<%= entity.variable %>.model';

const { t } = useI18n({
  inheritLocale: true,
  useScope: 'global'
});

const loading: Ref<boolean> = ref(false);
const responseData: Ref<Data | undefined> = ref(undefined);

async function getAllRecords() {
  loading.value = true;
  responseData.value = await <%= entity.variable %>Service.findAll();
  loading.value = false;
}

async function deleteRecord(id: number) {
  await <%= entity.variable %>Service.delete(id);
  responseData.value = await <%= entity.variable %>Service.findAll();
}

onMounted(() => getAllRecords())
</script>

<template>
    <h1 class="display-6">{{ t(`entities.<%= pluralize(entity.name) %>`) }}</h1>
    <p class="my-3 text-end">
      <router-link class="btn btn-lg btn-primary" role="button" :to="{name: '<%= entity.path %>-new'}">
      <i class="bi bi-plus-lg"></i>
      {{ t('actions.entity.create') }} {{ t(`entities.<%= to.sentence(entity.name) %>`) }}
      </router-link>
    </p>
    <table-placeholder v-if="loading"></table-placeholder>
    <div v-if="!loading && responseData && !responseData.length" class="alert alert-info" role="alert">No data</div>
    <table class="table" v-if="!loading && responseData && responseData.length">
        <thead>
            <tr>
                <th scope="col">{{ t(`entities.<%= entity.variable %>.id`) }}</th>
<% entity._presto__properties.forEach(function(property) { %>
                <th scope="col">{{ t(`entities.<%= entity.variable %>.<%= property.column %>`) }}</th>
<% }); %>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(row, index) in responseData" :key="index">
                <th scope="row">{{ row.id }}</th>
<% entity._presto__properties.forEach(function(property) { %>
                <td>{{ row['<%= property.column%>'] }}</td>
<% }); %>
                <td class="entity-actions">
                  <div class="d-inline-flex gap-1">
                    <router-link class="btn btn-sm btn-primary text-nowrap" role="button" :to="{name: '<%= entity.path %>-details', params: {id: row.id}}">{{ t('actions.entity.view') }}</router-link>
                    <router-link class="btn btn-sm btn-primary text-nowrap" role="button" :to="{name: '<%= entity.path %>-edit', params: {id: row.id}}">{{ t('actions.entity.edit') }}</router-link>
                    <button-action-confirm :delay="5" :label="t('actions.entity.delete')" :labelConfirm="t('actions.entity.deleteConfirm')" class="btn btn-sm btn-danger text-nowrap" :action="() => deleteRecord(row.id)"></button-action-confirm>
                  </div>
                </td>
            </tr>
        </tbody>
    </table>
    <pre>{{ responseData }}</pre>
</template>

<style scoped>
  pre {
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #333;
  color: cyan;
  padding: 1em;
  border-radius: 0.5rem;
  min-height: 3rem;
  max-height: 50vh;
  overflow: auto;
}
</style>
