<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import { type Ref, ref, onMounted, watch } from 'vue';
import { useRoute } from 'vue-router'
import <%= entity.variable %>Service from './<%= entity.variable %>.service';
import { type Datum } from '@/models/<%= entity.variable %>.model';

const route = useRoute();

const { t } = useI18n({
  inheritLocale: true,
  useScope: 'global'
});

const loading: Ref<boolean> = ref(false);
const responseData: Ref<Datum> = ref({});

async function getRecord() {
  loading.value = true;
  responseData.value = await <%= entity.variable %>Service.find(parseInt(route.params.id.toString()));;
  loading.value = false;
}

onMounted(() => getRecord());
watch(() => route.params.id, () => getRecord());
</script>

<template>
    <h1 class="display-6">{{ t(`entities.<%= entity.name %>`) }} {{ t(`entities.<%= entity.variable %>.id`) }} {{ $route.params.id }}</h1>
    <dl class="row" v-if="!loading && responseData.id">
<% entity._presto__properties.forEach(function(property) { %>
      <dt class="col-sm-3 text-end">{{ t(`entities.<%= entity.variable %>.<%= property.column %>`) }}</dt>
      <dd class="col-sm-9">{{ responseData.<%= property.column%> }}</dd>
<% }); %>
    </dl>
    <router-link class="btn btn-primary" role="button" :to="{name: '<%= entity.path %>-edit', params: {id: responseData.id}}">{{ t('actions.entity.edit') }}</router-link>
    <div v-if="!loading && responseData && !responseData.id" class="alert alert-warning" role="alert">{{ t('warnings.recordNotFound') }}</div>
    <pre>{{ responseData }}</pre>
</template>

<style scoped>
  pre {
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #333;
  color: cyan;
  padding: 1em;
  border-radius: 0.5rem;
  min-height: 3rem;
  max-height: 50vh;
  overflow: auto;
}
</style>
