<script setup>
import api from '@/services/api';
import { useI18n } from 'vue-i18n'
import TablePlaceholder from '@/components/TablePlaceholder.vue';
import { ref, onMounted } from 'vue';

const { t, locale } = useI18n({
  inheritLocale: true,
  useScope: 'global'
});

const loading = ref(false);
const responseData = ref(undefined);

async function getAllRecords() {
  loading.value = true;
  try {
    responseData.value = (await api.get('/<%- entity.path %>')).data;
    loading.value = false;
    return;
  } catch (error) {
    loading.value = false;
    console.error(error);
    return;
  }
}

onMounted(() => getAllRecords())
</script>

<template>
    <h1 class="display-6">{{ t(`entities.<%= pluralize(entity.name) %>`) }}</h1>
    <table-placeholder v-if="loading"></table-placeholder>
    <div v-if="!loading && responseData && !responseData.length" class="alert alert-info" role="alert">No data</div>
    <table class="table" v-if="!loading && responseData && responseData.length">
        <thead>
            <tr>
                <th scope="col">{{ t(`entities.<%= entity.variable %>.id`) }}</th>
            <% entity._presto__properties.forEach(function(property) { %>
                <th scope="col">{{ t(`entities.<%= entity.variable %>.<%= property.column %>`) }}</th>
            <% }); %>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(row, index) in responseData" :key="index">
                <th scope="row">{{ row.id }}</th>
            <% entity._presto__properties.forEach(function(property) { %>
                <td>{{ row['<%= property.column%>'] }}</td>
            <% }); %>
            </tr>
        </tbody>
    </table>
    <pre class="text-info bg-dark">{{ responseData }}</pre>
</template>

<style scoped>
pre {
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  border-radius: 0.5rem;
  min-height: 3rem;
  max-height: 50vh;
  overflow: auto;
}
</style>
