<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import { type Ref, ref, onMounted } from 'vue';
import { useRoute, useRouter } from 'vue-router'
import <%= entity.variable %>Service from '@/services/<%= entity.variable %>.service';
import { type Datum } from '@/models/<%= entity.variable %>.model';

const router = useRouter();
const route = useRoute();

const { t } = useI18n({
  inheritLocale: true,
  useScope: 'global'
});

const loading: Ref<boolean> = ref(false);
const record: Ref<Datum> = ref({});

async function saveRecord() {
  loading.value = true;
  let responseData: Datum = await <%= entity.variable %>Service.save(record.value);
  loading.value = false;
  router.push({ name: '<%= entity.path %>-details', params: { id: responseData.id } });
}

async function getRecord() {
  loading.value = true;
  record.value = await <%= entity.variable %>Service.find(parseInt(route.params.id.toString()));
  loading.value = false;
}

onMounted(async () => {
  if(route.params.id) {
    await getRecord();
  }
});
</script>

<template>
    <h1 v-if="record.id" class="display-6">{{ t('actions.entity.edit') }} {{ t(`entities.<%= entity.name %>`) }} {{ t(`entities.<%= entity.variable %>.id`) }} {{ $route.params.id }}</h1>
    <h1 v-else class="display-6">{{ t('actions.entity.create') }} {{ t(`entities.<%= entity.name %>`) }}</h1>
    <form @submit.prevent="saveRecord">
<% entity._presto__properties.forEach(function(property) { %>
      <div class="mb-3">
        <label for="<%= property.column %>" class="form-label">{{ t(`entities.<%= entity.variable %>.<%= property.column %>`) }}</label>
        <input type="text" class="form-control" id="<%= property.column %>" v-model="record.<%= property.column %>">
      </div>
<% }); %>
      <button type="submit" class="btn btn-primary">{{ t('actions.entity.save') }}</button>
    </form>
    <pre>{{ record }}</pre>
</template>

<style scoped>
  pre {
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #333;
  color: cyan;
  padding: 1em;
  border-radius: 0.5rem;
  min-height: 3rem;
  max-height: 50vh;
  overflow: auto;
}
</style>
