import { Routes, Route } from 'react-router-dom';
import { NotificationProvider } from './contexts/NotificationContext';
import ProtectedRoute from './components/ProtectedRoute';
import Menu from './components/Menu';
import Home from './pages/Home';
import Err404 from './pages/errors/Err404';
import Login from './pages/Login';
import Logout from './pages/Logout';
<% for (const entity of entities) {%>
import <%=entity.name%> from './pages/entities/<%=entity.name%>';
import <%=entity.name%>View from './pages/entities/<%=entity.name%>View';
import <%=entity.name%>Edit from './pages/entities/<%=entity.name%>Edit';
<%}-%>

import { SimpleLoader } from './components/SimpleLoader';
import { useAuthState } from './hooks/useAuthState';

import './App.css';

const LoaderComponent: React.FC = () => {
  return (
    <div className="absolute top-0 left-0 right-0 bottom-0 flex items-center justify-center bg-slate-200 dark:bg-gray-900">
      <SimpleLoader />
    </div>
  );
};

function App() {
  const { loading } = useAuthState();
  return loading ? (
    <LoaderComponent />
  ) : (
    <NotificationProvider position="bottom-right">
      <Menu />
      <div className="p-4 max-w-7xl mx-auto">
        <Routes>
          <Route path="/" element={<Home />} />
          <Route element={<ProtectedRoute />}>
<%  for (const entity of entities) {-%>
            <Route path="/entities/<%=to.slug(pluralize(entity.name))%>" element={<<%=entity.name%> />} />
            <Route path="/entities/<%=to.slug(pluralize(entity.name))%>/view/:id" element={<<%=entity.name%>View />} />
            <Route path="/entities/<%=to.slug(pluralize(entity.name))%>/edit/:id" element={<<%=entity.name%>Edit />} />
            <Route path="/entities/<%=to.slug(pluralize(entity.name))%>/new" element={<<%=entity.name%>Edit />} />
<%  }-%>
          </Route>
          <Route
            element={
              <ProtectedRoute
                requiredRoles={['admin', 'superuser', 'master']}
                requireAll={false}
              />
            }
          >
            <Route path="/admin" element={<div className="m-4">ADMIN EXAMPLE</div>} />
          </Route>
          <Route element={<ProtectedRoute requiredRoles={['apps_admin']} requireAll={false} />}>
            <Route path="/apps-admin" element={<div className="m-4">APPS ADMIN EXAMPLE</div>} />
          </Route>
          <Route path="/login" element={<Login />} />
          <Route path="/logout" element={<Logout />} />
          <Route path="*" element={<Err404 />} />
        </Routes>
      </div>
    </NotificationProvider>
  );
}

export default App;
