<%
const hasSoftDelete = (entity) => entity.softDelete;
-%>
import { Routes, Route, type NavigateOptions, useHref, useNavigate } from 'react-router-dom';
import { RouterProvider } from 'react-aria-components';
import { NotificationProvider } from './contexts/NotificationContext';
import Footer from './components/Footer';
import Menu from './components/Menu';
import Home from './pages/Home';
import Err404 from './pages/errors/Err404';
import Err403 from './pages/errors/Err403';
import Login from './pages/Login';
import Logout from './pages/Logout';
<%  for (const entity of entities) {%>
import <%=entity.name%>List from './pages/entities/<%=entity.name%>List';
import <%=entity.name%>View from './pages/entities/<%=entity.name%>View';
import <%=entity.name%>Edit from './pages/entities/<%=entity.name%>Edit';
<%    if (hasSoftDelete(entity)) { -%>
import <%=entity.name%>Trash from './pages/entities/<%=entity.name%>Trash';
<%    }-%>
<%  }-%>

import Audits from './pages/audit/Audits';
import AuditView from './pages/audit/AuditView';
import AuditHistory from './pages/audit/AuditHistory';
import AuditUserActivity from './pages/audit/AuditUserActivity';

import { LogViewer } from './pages/server-logs/LogViewer';
<%  if (!['null', 'database'].includes(searchEngine)) { -%>

import SearchReindexList from './pages/search-reindex/SearchReindexList';
<%  } -%>

import { SimpleLoader } from './components/SimpleLoader';
import { useAuthState } from './hooks/useAuthState';
import { Can } from './components/Can';

import './App.css';

declare module 'react-aria-components' {
  interface RouterConfig {
    routerOptions: NavigateOptions;
  }
}

const LoaderComponent: React.FC = () => {
  return (
    <div className="absolute top-0 left-0 right-0 bottom-0 flex items-center justify-center bg-slate-50 dark:bg-slate-900">
      <SimpleLoader />
    </div>
  );
};

function App() {
  const navigate = useNavigate();
  const { loading } = useAuthState();
  return loading ? (
    <LoaderComponent />
  ) : (
    <RouterProvider navigate={navigate} useHref={useHref}>
      <NotificationProvider position="top-center">
        <Menu />
        <div className="p-8 min-h-[50vh]">
          <Routes>
            <Route path="/" element={<Home />} />
<%  for (const entity of entities) {-%>
            <Route
              path="/entities/<%=to.slug(pluralize(entity.name))%>"
              element={
                <Can resource="<%=entity.name%>" action="read" fallback={<Err403 />} force_login={true}>
                  <<%=entity.name%>List />
                </Can>
              }
            />
<%    if (hasSoftDelete(entity)) {-%>
            <Route
              path="/entities/<%=to.slug(pluralize(entity.name))%>/trash"
              element={
                <Can resource="Trashed<%=entity.name%>" action="read" fallback={<Err403 />} force_login={true}>
                  <<%=entity.name%>Trash />
                </Can>
              }
            />
<%    }-%>
            <Route
              path="/entities/<%=to.slug(pluralize(entity.name))%>/view/:id"
              element={
                <Can resource="<%=entity.name%>" action="read" fallback={<Err403 />} force_login={true}>
                  <<%=entity.name%>View />
                </Can>
              }
            />
            <Route
              path="/entities/<%=to.slug(pluralize(entity.name))%>/edit/:id"
              element={
                <Can resource="<%=entity.name%>" action="update" fallback={<Err403 />} force_login={true}>
                  <<%=entity.name%>Edit />
                </Can>
              }
            />
            <Route
              path="/entities/<%=to.slug(pluralize(entity.name))%>/new"
              element={
                <Can resource="<%=entity.name%>" action="create" fallback={<Err403 />} force_login={true}>
                  <<%=entity.name%>Edit />
                </Can>
              }
            />
<%  }-%>
            <Route
              path="/audits"
              element={
                <Can resource="Audit" action="read" fallback={<Err403 />} force_login={true}>
                  <Audits />
                </Can>
              }
            />
            <Route
              path="/audits/view/:id"
              element={
                <Can resource="Audit" action="read" fallback={<Err403 />} force_login={true}>
                  <AuditView />
                </Can>
              }
            />
            <Route
              path="/audits/entity/:type/:id"
              element={
                <Can resource="Audit" action="read" fallback={<Err403 />} force_login={true}>
                  <AuditHistory />
                </Can>
              }
            />
            <Route
              path="/audits/user/:userId"
              element={
                <Can resource="Audit" action="read" fallback={<Err403 />} force_login={true}>
                  <AuditUserActivity />
                </Can>
              }
            />
            <Route
              path="/logs/stream"
              element={
                <Can resource="Log" action="read" fallback={<Err403 />} force_login={true}>
                  <LogViewer />
                </Can>
              }
            />
<%  if (!['null', 'database'].includes(searchEngine)) { -%>
            <Route
              path="/search-reindex"
              element={
                <Can
                  resource="SearchReindex"
                  action="read"
                  fallback={<Err403 />}
                  force_login={true}
                >
                  <SearchReindexList />
                </Can>
              }
            />
<%  } -%>
            <Route path="/login" element={<Login />} />
            <Route path="/logout" element={<Logout />} />
            <Route path="*" element={<Err404 />} />
          </Routes>
        </div>
        <Footer />
      </NotificationProvider>
    </RouterProvider>
  );
}

export default App;
