import { Routes, Route } from 'react-router-dom';
import './App.css';
import { useUserAutenticatedHelper } from './hooks/userAutenticatedHelper';
import { NotificationProvider } from './contexts/NotificationContext';
import { ToastContainer } from './components/ToastContainer';
import Menu from './components/Menu';
import Home from './pages/Home';
import Login from './pages/Login';
import Err401 from './pages/errors/Err401';
import Err403 from './pages/errors/Err403';
import Err404 from './pages/errors/Err404';
<% for (const entity of entities) {%>
import <%=entity.name%> from './pages/entities/<%=entity.name%>';
import <%=entity.name%>View from './pages/entities/<%=entity.name%>View';
<%}%>
function App() {
  const { hasRole, isAutenticated, isInitialized, getTokenParsed } = useUserAutenticatedHelper();

  if (!isInitialized()) {
    return (
      <>
        <Menu />
        <div className="m-4">Loading...</div>
      </>
    );
  }

  const AuthRoute = ({ element }: { element: JSX.Element }) => {
    return isAutenticated() ? element : <Login />;
  };

  return (
    <NotificationProvider>
      <Menu />
      <Routes>
        <Route path="/" element={<Home />} />
        <Route path="/login" element={<Login />} /><% -%>
        <% for (const entity of entities) {%>
        <Route path="/entities/<%=to.slug(pluralize(entity.name))%>" element={<AuthRoute element={<<%=entity.name%> />} />} />
        <Route path="/entities/<%=to.slug(pluralize(entity.name))%>/view/:id" element={<AuthRoute element={<<%=entity.name%>View />} />} /><%}%>
        <Route
          path="/admin"
          element={isAutenticated() ? hasRole('admin') ? <div className="m-4">ADMIN</div> : <Err403 /> : <Err401 />}
        />
        <Route path="*" element={<Err404 />} />
      </Routes>
      <ToastContainer />
    </NotificationProvider>
  );
}

export default App;
