import { Routes, Route } from 'react-router-dom';
import './App.css';
import { AuthProvider } from './contexts/AuthContext';
import { NotificationProvider } from './contexts/NotificationContext';
import ProtectedRoute from './components/ProtectedRoute';
import RoleProtectedRoute from './components/RoleProtectedRoute';
import Menu from './components/Menu';
import Home from './pages/Home';
import Err404 from './pages/errors/Err404';
<% for (const entity of entities) {%>
import <%=entity.name%> from './pages/entities/<%=entity.name%>';
import <%=entity.name%>View from './pages/entities/<%=entity.name%>View';
import <%=entity.name%>Edit from './pages/entities/<%=entity.name%>Edit';
<%}%>
function App() {
  return (
    <NotificationProvider position="bottom-right">
      <AuthProvider>
        <Menu />
        <Routes>
          <Route path="/" element={<Home />} />
          <Route element={<ProtectedRoute />}>
<%        for (const entity of entities) {-%>
            <Route path="/entities/<%=to.slug(pluralize(entity.name))%>" element={<<%=entity.name%> />} />
            <Route path="/entities/<%=to.slug(pluralize(entity.name))%>/view/:id" element={<<%=entity.name%>View />} />
            <Route path="/entities/<%=to.slug(pluralize(entity.name))%>/edit/:id" element={<<%=entity.name%>Edit />} />
            <Route path="/entities/<%=to.slug(pluralize(entity.name))%>/new" element={<<%=entity.name%>Edit />} />
<%        }-%>
          </Route>
          <Route
            element={
              <RoleProtectedRoute
                requiredRoles={['admin', 'superuser', 'master']}
                requireAll={false}
              />
            }
          >
            <Route path="/admin" element={<div className="m-4">ADMIN EXAMPLE</div>} />
          </Route>
          <Route path="*" element={<Err404 />} />
        </Routes>
      </AuthProvider>
    </NotificationProvider>
  );
}

export default App;
