import { Routes, Route, type NavigateOptions, useHref, useNavigate } from 'react-router-dom';
import { RouterProvider } from 'react-aria-components';
import { NotificationProvider } from './contexts/NotificationContext';
import Footer from './components/Footer';
import Menu from './components/Menu';
import Home from './pages/Home';
import Err404 from './pages/errors/Err404';
import Err403 from './pages/errors/Err403';
import Login from './pages/Login';
import Logout from './pages/Logout';
<% for (const entity of entities) {%>
import <%=entity.name%>List from './pages/entities/<%=entity.name%>List';
import <%=entity.name%>View from './pages/entities/<%=entity.name%>View';
import <%=entity.name%>Edit from './pages/entities/<%=entity.name%>Edit';
<%}-%>

import AcRuleList from './pages/ac-rule/AcRuleList';
import AcRuleView from './pages/ac-rule/AcRuleView';
import AcRuleEdit from './pages/ac-rule/AcRuleEdit';

import AuditList from './pages/audit/AuditList';
import AuditView from './pages/audit/AuditView';
import AuditCompare from './pages/audit/AuditCompare';
import AuditHistory from './pages/audit/AuditHistory';
import AuditStatistics from './pages/audit/AuditStatistics';

import { SimpleLoader } from './components/SimpleLoader';
import { useAuthState } from './hooks/useAuthState';
import { Can } from './components/Can';

import './App.css';

declare module 'react-aria-components' {
  interface RouterConfig {
    routerOptions: NavigateOptions;
  }
}

const LoaderComponent: React.FC = () => {
  return (
    <div className="absolute top-0 left-0 right-0 bottom-0 flex items-center justify-center bg-slate-50 dark:bg-slate-900">
      <SimpleLoader />
    </div>
  );
};

function App() {
  const navigate = useNavigate();
  const { loading } = useAuthState();
  return loading ? (
    <LoaderComponent />
  ) : (
    <RouterProvider navigate={navigate} useHref={useHref}>
      <NotificationProvider position="top-center">
        <Menu />
        <div className="p-8 min-h-[50vh]">
          <Routes>
            <Route path="/" element={<Home />} />
<%  for (const entity of entities) {-%>
            <Route
              path="/entities/<%=to.slug(pluralize(entity.name))%>"
              element={
                <Can resource="<%=entity.name%>" action="read" fallback={<Err403 />} force_login={true}>
                  <<%=entity.name%>List />
                </Can>
              }
            />
            <Route
              path="/entities/<%=to.slug(pluralize(entity.name))%>/view/:id"
              element={
                <Can resource="<%=entity.name%>" action="read" fallback={<Err403 />} force_login={true}>
                  <<%=entity.name%>View />
                </Can>
              }
            />
            <Route
              path="/entities/<%=to.slug(pluralize(entity.name))%>/edit/:id"
              element={
                <Can resource="<%=entity.name%>" action="update" fallback={<Err403 />} force_login={true}>
                  <<%=entity.name%>Edit />
                </Can>
              }
            />
            <Route
              path="/entities/<%=to.slug(pluralize(entity.name))%>/new"
              element={
                <Can resource="<%=entity.name%>" action="create" fallback={<Err403 />} force_login={true}>
                  <<%=entity.name%>Edit />
                </Can>
              }
            />
<%  }-%>
            <Route
              path="/entities/ac-rules"
              element={
                <Can resource="AcRule" action="read" fallback={<Err403 />} force_login={true}>
                  <AcRuleList />
                </Can>
              }
            />
            <Route
              path="/entities/ac-rules/view/:id"
              element={
                <Can resource="AcRule" action="read" fallback={<Err403 />} force_login={true}>
                  <AcRuleView />
                </Can>
              }
            />
            <Route
              path="/entities/ac-rules/edit/:id"
              element={
                <Can resource="AcRule" action="update" fallback={<Err403 />} force_login={true}>
                  <AcRuleEdit />
                </Can>
              }
            />
            <Route
              path="/entities/ac-rules/new"
              element={
                <Can resource="AcRule" action="create" fallback={<Err403 />} force_login={true}>
                  <AcRuleEdit />
                </Can>
              }
            />
            <Route
              path="/audits"
              element={
                <Can resource="Audit" action="read" fallback={<Err403 />} force_login={true}>
                  <AuditList />
                </Can>
              }
            />
            <Route
              path="/audits/view/:id"
              element={
                <Can resource="Audit" action="read" fallback={<Err403 />} force_login={true}>
                  <AuditView />
                </Can>
              }
            />
            <Route
              path="/audits/compare/:id"
              element={
                <Can resource="Audit" action="read" fallback={<Err403 />} force_login={true}>
                  <AuditCompare />
                </Can>
              }
            />
            <Route
              path="/audits/entity/:type/:id"
              element={
                <Can resource="Audit" action="read" fallback={<Err403 />} force_login={true}>
                  <AuditHistory />
                </Can>
              }
            />
            <Route
              path="/audits/statistics"
              element={
                <Can resource="Audit" action="read" fallback={<Err403 />} force_login={true}>
                  <AuditStatistics />
                </Can>
              }
            />
            <Route path="/login" element={<Login />} />
            <Route path="/logout" element={<Logout />} />
            <Route path="*" element={<Err404 />} />
          </Routes>
        </div>
        <Footer />
      </NotificationProvider>
    </RouterProvider>
  );
}

export default App;
