import { useTranslation } from 'react-i18next';
import { useUserAutenticatedHelper } from '../hooks/userAutenticatedHelper';
import pninjaLogo from '../assets/pninja-logo.svg';
import laravelLogo from '../assets/laravel-logo.svg';
import <%= dbms %>Logo from '../assets/<%= dbms %>-logo.svg';
import reactLogo from '../assets/react.svg';
import viteLogo from '../assets/vite.svg';

export default function Home() {
  const { t } = useTranslation();
  const { hasRole, isAutenticated, isInitialized, getTokenParsed } = useUserAutenticatedHelper();
  return (
    <>
    <div className="flex space-x-2 items-center text-3xl justify-center p-8">
      <img className="h-24" src={laravelLogo} alt="Laravel" title="Laravel" />
      <span>+</span>
      <img className="h-24" src={<%= dbms %>Logo} alt={t('dbms.<%= dbms %>')} title={t('dbms.<%= dbms %>')} />
      <span>+</span>
      <img className="h-24" src={reactLogo} alt="React" title="React" />
      <span>+</span>
      <img className="h-24" src={viteLogo} alt="Vite" title="Vite" />
      <span>=</span>
      <img className="h-24" src={pninjaLogo} alt="PNinja" title="PNinja" />
    </div>
    {isAutenticated() && (
    <pre className="whitespace-pre bg-slate-800 text-xs text-lime-300 p-4 rounded-md m-4">
      email = {getTokenParsed()?.email}
      {'\n'}
      login = {getTokenParsed()?.preferred_username}
      {'\n'}
      name = {getTokenParsed()?.name}
      {'\n'}
      hasRole 'admin' = {hasRole('admin') ? 'T' : 'F'}
    </pre>
    )}
    </>
  );
}
