<%
let dbmsLink = undefined;
switch (dbms) {
  case "sqlite":
    dbmsLink = "https://www.sqlite.org/"
    break;
  case "mysql":
    dbmsLink = "https://www.mysql.com/"
    break;
  case "mariadb":
    dbmsLink = "https://mariadb.org/"
    break;
  case "pgsql":
    dbmsLink = "https://www.postgresql.org/"
    break;
  case "sqlsrv":
    dbmsLink = "https://www.microsoft.com/sql-server/"
    break;
}
-%>
import { useEffect } from 'react';
import { useTranslation } from 'react-i18next';
import { JsonPrint } from '../components/JsonPrint';
import { useAuth } from '../hooks/useAuth';
import { useRoles } from '../hooks/useRoles';
import { SimpleLoader } from '../components/SimpleLoader';
import pninjaLogoDark from '../assets/pninja-logo-dark.svg';
import pninjaLogoLight from '../assets/pninja-logo-light.svg';
import laravelLogo from '../assets/laravel-logo.svg';
import <%= dbms %>Logo from '../assets/<%= dbms %>-logo.svg';
import reactLogo from '../assets/react.svg';
import viteLogo from '../assets/vite.svg';

export default function Home() {
  const { t, i18n } = useTranslation();
  const { user, loading } = useAuth();
  const { getRoles } = useRoles();
  useEffect(() => {
    document.title = t('appName');
  }, [t, i18n.language]);
  return (
    <div className="max-w-5xl mx-auto">
      <div className="flex space-x-2 items-center text-3xl justify-center p-8">
        <a target="_blank" href="https://laravel.com/">
          <img className="h-24" src={laravelLogo} alt="Laravel" title="Laravel" />
        </a>
        <span>+</span>
        <a target="_blank" href="<%-dbmsLink%>">
          <img className="h-24" src={<%= dbms %>Logo} alt={t('dbms.<%= dbms %>')} title={t('dbms.<%= dbms %>')} />
        </a>
        <span>+</span>
        <a target="_blank" href="https://react.dev/">
          <img className="h-24" src={reactLogo} alt="React" title="React" />
        </a>
        <span>+</span>
        <a target="_blank" href="https://vite.dev/">
          <img className="h-24" src={viteLogo} alt="Vite" title="Vite" />
        </a>
        <span>=</span>
        <a target="_blank" href="https://pninja.tech">
          <img className="h-24 hidden dark:block" src={pninjaLogoDark} alt="PNinja" title="PNinja" />
          <img className="h-24 block dark:hidden" src={pninjaLogoLight} alt="PNinja" title="PNinja" />
        </a>
      </div>
      {loading && <JsonPrint className="h-48 animate-pulse" data={undefined} />}
      {!loading && (
        <JsonPrint
          data={{
            'user.email': user?.email,
            'user.name': user?.name,
            getRoles: getRoles(),
            user,
          }}
        />
      )}
    </div>
  );
}
